<p><strong>NUDGE, INC.</strong></p>
<p><strong>TERMS OF SERVICE</strong></p>
<p><em>Last Modified: March 25, 2018</em></p>
<p>Welcome to Pogo.io, the website and online and mobile service of Nudge, Inc. (&ldquo;<strong>Nudge</strong>,&rdquo; &ldquo;<strong>we</strong>,&rdquo; or &ldquo;<strong>us</strong>&rdquo;). This page explains the terms by which you may use our online and/or mobile services, web site, and software provided on or in connection with the service (collectively, the &ldquo;<strong>Service</strong>&rdquo;). By accessing or using the Service, or by clicking a button or checking a box marked &ldquo;I Agree&rdquo; (or something similar), you signify that you have read, understood, and agree to be bound by these Terms of Service (this &ldquo;<strong>Agreement</strong>&rdquo;), our Acceptable Use Policy, and to the collection and use of your information as set forth in our Privacy Policy, whether or not you are a registered user of our Service. Company reserves the right to modify these terms and will provide notice of these changes as described below. This Agreement applies to all visitors, users, and others who access the Service (&ldquo;<strong>Users</strong>&rdquo;).</p>
<p>Please read this Agreement carefully to ensure that you understand each provision. This agreement contains a mandatory individual arbitration and class action/jury trial waiver provision that requires the use of arbitration on an individual basis to resolve disputes, rather than jury trials or class actions.</p>
<ol>
    <li><strong>Our Service</strong></li>
</ol>
<p>Company provides a place for gathering information, making decisions, discussing, communicating and documenting.</p>
<ol>
    <ol>
        <li><strong>Eligibility</strong></li>
    </ol>
</ol>
<p>This is a contract between you and Company. You must read and agree to these terms before using the Company Service. If you do not agree, you may not use the Service. You may use the Service only if you can form a binding contract with Company, and only in compliance with this Agreement and all applicable local, state, national, and international laws, rules and regulations. Any use or access to the Service by anyone under 13 is strictly prohibited and in violation of this Agreement. The Service is not available to any Users previously removed from the Service by Company.</p>
<ol>
    <ol>
        <li><strong>Limited License</strong></li>
    </ol>
</ol>
<p>Subject to the terms and conditions of this Agreement, you are hereby granted a non-exclusive, limited, non-transferable, freely revocable license to use the Service for your personal, noncommercial use only andas permitted by the features of the Service. Company reserves all rights not expressly granted herein in the Service and the Company Content (as defined below). Company may terminate this license at any time for any reason or no reason.</p>
<ol>
    <ol>
        <li><strong>User Accounts</strong></li>
    </ol>
</ol>
<p>Your account on the Service (your &ldquo;<strong>User Account</strong>&rdquo;) gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion. We may maintain different types of User Accounts for different types of Users. If you open a User Account on behalf of a company, organization, or other entity, then (i) &ldquo;you&rdquo; includes you and that entity, and (ii) you represent and warrant that you are an authorized representative of the entity with the authority to bind the entity to this Agreement, and that you agree to this Agreement on the entity&rsquo;s behalf. By connecting to Company with a third-party service, you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service.</p>
<p>You may never use another User&rsquo;s User Account without permission. When creating your User Account, you must provide accurate and complete information, and you must keep this information up to date. You are solely responsible for the activity that occurs on your User Account, and you must keep your User Account password secure. We encourage you to use &ldquo;strong&rdquo; passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your User Account. You must notify Company immediately of any breach of security or unauthorized use of your User Account. Company will not be liable for any losses caused by any unauthorized use of your User Account.</p>
<p>You may control your User profile and how you interact with the Service by changing the settings in your account pages or similar. By providing Company your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. We may also use your email address to send you other messages, such as changes to features of the Service and special offers. If you do not want to receive such email messages, you may opt out or change your preferences in your account pages or similar. Opting out may prevent you from receiving email messages regarding updates, improvements, or offers.</p>
<ol>
    <ol>
        <li><strong>Changes to the Service</strong></li>
    </ol>
</ol>
<p>We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to Users generally; or create usage limits for the Service. We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement.</p>
<ol>
    <ol>
        <li><strong>Disputes with Other Users</strong></li>
    </ol>
</ol>
<p>You are solely responsible for your interactions with other Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. Company shall have no liability for your interactions with other Users, or for any User&rsquo;s action or inaction.</p>
<ol>
    <ol>
        <li><strong>Service Location</strong></li>
    </ol>
</ol>
<p>The Service is controlled and operated from facilities in the United States. Company makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are entirely responsible for compliance with all applicable United States and local laws and regulations, including but not limited to export and import regulations. You may not use the Service if you are a resident of a country embargoed by the United States, or are a foreign person or entity blocked or denied by the United States government. Unless otherwise explicitly stated, all materials found on the Service are solely directed to individuals, companies, or other entities located in the United States.</p>
<ol>
    <li><strong>User Content</strong></li>
</ol>
<p>Some areas of the Service allow Users to submit, post, display, provide, or otherwise make available content such as profile information, links, videos, images, sound, gifs, comments, questions, and other content or information (any such materials a User submits, posts, displays, provides, or otherwise makes available on the Service is referred to as &ldquo;<strong>User Content</strong>&rdquo;).</p>
<p>We claim no ownership rights over User Content created by you. The User Content you create remains yours. However, you understand that certain portions of the Service may allow other Users to view, edit, share, and/or otherwise interact with your User Content. By providing or sharing User Content through the Service, you agree to allow others to view, edit, share, and/or interact with your User Content in accordance with your settings and this Agreement. Company has the right (but not the obligation) in its sole discretion to remove any User Content that is shared via the Service.</p>
<p>By submitting, posting, displaying, providing, or otherwise making available any User Content on or through the Service, you expressly grant, and you represent and warrant that you have all rights necessary to grant, to Company a royalty-free, sublicensable, transferable, perpetual, irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, syndicate, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed, for use in connection with the Service and Company&rsquo;s (and its successors&rsquo; and affiliates&rsquo;) business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each User of the Service a non-exclusive license to access your User Content through the Service, and to use, reproduce, distribute, display and perform such User Content as permitted through the functionality of the Service and under this Agreement.</p>
<p>For the purposes of this Agreement, &ldquo;<strong>Intellectual Property Rights</strong>&rdquo; means all patent rights, copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights and other intellectual property rights as may now exist or hereafter come into existence, and all applications therefore and registrations, renewals and extensions thereof, under the laws of any state, country, territory or other jurisdiction.</p>
<p>In connection with your User Content, you affirm, represent and warrant the following:</p>
<ul>
    <li>You have the written consent of each and every identifiable natural person in the User Content, if any, to use such person&rsquo;s name or likeness in the manner contemplated by the Service and this Agreement, and each such person has released you from any liability that may arise in relation to such use.</li>
    <li>You have obtained and are solely responsible for obtaining all consents as may be required by law to post any User Content relating to third parties.</li>
    <li>Your User Content and Company&rsquo;s use thereof as contemplated by this Agreement and the Service will not violate any law or infringe any rights of any third party, including but not limited to any Intellectual Property Rights and privacy rights.</li>
    <li>Company may exercise the rights to your User Content granted under this Agreement without liability for payment of any guild fees, residuals, payments, fees, or royalties payable under any collective bargaining agreement or otherwise.</li>
    <li>To the best of your knowledge, all your User Content and other information that you provide to us is truthful and accurate.</li>
</ul>
<p>Company takes no responsibility and assumes no liability for any User Content that you or any other User or third party posts, sends, or otherwise makes available over the Service. You shall be solely responsible for your User Content and the consequences of posting, publishing it, sharing it, or otherwise making it available on the Service, and you agree that we are only acting as a passive conduit for your online distribution and publication of your User Content. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose, and you agree that Company shall not be liable for any damages you allege to incur as a result of or relating to any User Content.</p>
<ol>
    <li><strong>Our Proprietary Rights</strong></li>
</ol>
<p>Except for your User Content, the Service and all materials therein or transferred thereby, including, without limitation, software, images, text, graphics, illustrations, logos, patents, trademarks, service marks, copyrights, photographs, audio, videos, music, and User Content belonging to other Users (the &ldquo;<strong>Company Content</strong>&rdquo;), and all Intellectual Property Rights related thereto, are the exclusive property of Company and its licensors (including other Users who post User Content to the Service). Except as explicitly provided herein, nothing in this Agreement shall be deemed to create a license in or under any such Intellectual Property Rights, and you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from any Company Content. Use of the Company Content for any purpose not expressly permitted by this Agreement is strictly prohibited.</p>
<p>You may choose to or we may invite you to submit comments or ideas about the Service, including without limitation about how to improve the Service or our products (&ldquo;<strong>Ideas</strong>&rdquo;). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place Company under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, Company does not waive any rights to use similar or related ideas previously known to Company, or developed by its employees, or obtained from sources other than you.</p>
<p>The Service contains data, information, and other content not owned by you, such as reputational or status indicators (&ldquo;<strong>Company Property</strong>&rdquo;). You understand and agree that regardless of terminology used, Company Property represents a limited license right governed solely by the terms of this Agreement and available for distribution at Company&rsquo;s sole discretion. Company Property is not redeemable for any sum of money or monetary value from Company at any time. You acknowledge that you do not own the User Account you use to access the Service, nor do you possess any rights of access or rights to data stored by or on behalf of Company on Company servers, including without limitation any data representing or embodying any or all of your Company Property. You agree that Company has the absolute right to manage, regulate, control, modify and/or eliminate Company Property as it sees fit in its sole discretion, in any general or specific case, and that Company will have no liability to you based on its exercise of such right. All data on Company&rsquo;s servers are subject to deletion, alteration or transfer. Notwithstanding any value attributed to such data by you or any third party, you understand and agree that any data, User Account history and User Account content residing on Company&rsquo;s servers, may be deleted, altered, moved or transferred at any time for any reason in Company&rsquo;s sole discretion, with or without notice and with no liability of any kind. Company does not provide or guarantee, and expressly disclaims, any value, cash or otherwise, attributed to any data residing on Company&rsquo;s servers.</p>
<ol>
    <li><strong>[Paid Services</strong></li>
</ol>
<ol>
    <ol>
        <li><strong>Billing Policies. </strong>Certain aspects of the Service may be provided for a fee or other charge. If you elect to use paid aspects of the Service, you agree to our Pricing and Payment Terms, when available, as we may update them from time to time. Company may add new services for additional fees and charges, add or amend fees and charges for existing services, at any time in its sole discretion. [Any change to our Pricing or Payment Terms shall become effective in the billing cycle following notice of such change to you as provided in this Agreement.<strong>]</strong></li>
        <li><strong>No Refunds. </strong>You may cancel your User Account at any time; however, there are no refunds for cancellation. In the event that Company suspends or terminates your User Account or this Agreement [for your breach of this Agreement], you understand and agree that you shall receive no refund or exchange for any Company Property, any unused time on a subscription, any license or subscription fees for any portion of the Service, any content or data associated with your User Account, or for anything else.</li>
        <li><strong>Risk of Loss. </strong>All products that may be purchased from or via the Service are transported and delivered to you by an independent carrier not affiliated with, or controlled by, Company. Title to products purchased on the Service, as well as the risk of loss for such products, passes to you when Company or our supplier delivers these items to the carrier.</li>
        <li><strong>Payment Information; Taxes. </strong>All information that you provide in connection with a purchase or transaction or other monetary transaction interaction with the Service must be accurate, complete, and current. You agree to pay all charges incurred by users of your credit card, debit card, or other payment method used in connection with a purchase or transaction or other monetary transaction interaction with the Service at the prices in effect when such charges are incurred. You will pay any applicable taxes, if any, relating to any such purchases, transactions or other monetary transaction interactions.</li>
        <li><strong> California Residents. </strong>The provider of services is Nudge, Inc, 323-405-7003,support@pogo.io. If you are a California resident, in accordance with Cal. Civ. Code &sect;1789.3, you may report complaints to the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by contacting them in writing at 1625 North Market Blvd., Suite N 112 Sacramento, CA 95834, or by telephone at (800) 952-5210 or (916) 445-1254.</li>
    </ol>
    <li><strong>[No Professional Advice</strong></li>
</ol>
<p>If the Service provides professional information (for example, medical, legal, or financial), such information is for informational purposes only and should not be construed as professional advice. No action should be taken based upon any information contained in the Service. You should seek independent professional advice from a person who is licensed and/or qualified in the applicable area.]</p>
<ol>
    <li><strong>[Text Messaging</strong></li>
</ol>
<p>You may sign up to receive certain Company notifications or information via text messaging. You may incur additional charges from your wireless provider for these services. You agree that you are solely responsible for any such charges.]</p>
<ol>
    <li><strong>Privacy</strong></li>
</ol>
<p>We care about the privacy of our Users. You understand that by using the Services you consent to the collection, use and disclosure of your personally identifiable information and aggregate and/or anonymized data as set forth in our Privacy Policy, and to have your personally identifiable information collected, used, transferred to and processed in the United States.</p>
<ol>
    <li><strong>Security</strong></li>
</ol>
<p>Company cares about the integrity and security of your personal information. However, we cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.</p>
<ol>
    <li><strong>DMCA Notice</strong></li>
</ol>
<p>Since we respect artist and content owner rights, it is Company&rsquo;s policy to respond to alleged infringement notices that comply with the Digital Millennium Copyright Act of 1998 (&ldquo;<strong>DMCA</strong>&rdquo;).</p>
<p>If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement and is accessible via the Service, please notify Company&rsquo;s copyright agent as set forth in the DMCA. For your complaint to be valid under the DMCA, you must provide the following information in writing:</p>
<p>1. An electronic or physical signature of a person authorized to act on behalf of the copyright owner;</p>
<p>2. Identification of the copyrighted work that you claim has been infringed;</p>
<p>3. Identification of the material that is claimed to be infringing and where it is located on the Service;</p>
<p>4. Information reasonably sufficient to permit Company to contact you, such as your address, telephone number, and, e-mail address;</p>
<p>5. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law; and</p>
<p>6. A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the owner.</p>
<p>The above information must be submitted to the following DMCA Agent:</p>
<p>Attn: DMCA Notice</p>
<p>Nudge, Inc</p>
<p>Address: 2728 Glendower Avenue</p>
<p>Los Angeles CA 90027</p>
<p>Tel.: 323-405-7003</p>
<p>Fax: 310-676-7143</p>
<p>Email: support@pogo.io</p>
<p>Under federal law, if you knowingly misrepresent that online material is infringing, you may be subject to criminal prosecution for perjury and civil penalties, including monetary damages, court costs, and attorneys&rsquo; fees.</p>
<p>Please note that this procedure is exclusively for notifying Company and its affiliates that your copyrighted material has been infringed. The preceding requirements are intended to comply with Company&rsquo;s rights and obligations under the DMCA, including 17 U.S.C. &sect;512(c), but do not constitute legal advice. It may be advisable to contact an attorney regarding your rights and obligations under the DMCA and other applicable laws.</p>
<p>In accordance with the DMCA and other applicable law, Company has adopted a policy of terminating, in appropriate circumstances, Users who are deemed to be repeat infringers. Company may also at its sole discretion limit access to the Service and/or terminate the User Accounts of any Users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.</p>
<ol>
    <li><strong>Third-Party Links and Information</strong></li>
</ol>
<p>The Service may contain links to third-party materials that are not owned or controlled by Company. Company does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access a third-party website or service from the Service or share your User Content on or through any third-party website or service, you do so at your own risk, and you understand that this Agreement and Company&rsquo;s Privacy Policy do not apply to your use of such sites. You expressly relieve Company from any and all liability arising from your use of any third-party website, service, or content, including without limitation User Content submitted by other Users. Additionally, your dealings with or participation in promotions of advertisers found on the Service, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such advertisers. You agree that Company shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers.</p>
<ol>
    <li><strong>Indemnity</strong></li>
</ol>
<p>You agree to defend, indemnify and hold harmless Company and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney&rsquo;s fees) arising from: (i) your use of and access to the Service, including any data or content transmitted or received by you; (ii) your violation of any term of this Agreement, including without limitation your breach of any of the representations and warranties above; (iii) your violation of any third-party right, including without limitation any right of privacy or Intellectual Property Rights; (iv) your violation of any applicable law, rule or regulation; (v) User Content or any content that is submitted via your User Account including without limitation misleading, false, or inaccurate information; (vi) your willful misconduct; or (vii) any other party&rsquo;s access and use of the Service with your unique username, password or other appropriate security code.</p>
<ol>
    <li><strong>No Warranty</strong></li>
</ol>
<p>The Service is provided on an &ldquo;as is&rdquo; and &ldquo;as available&rdquo; basis. Use of the Service is at your own risk. To the maximum extent permitted by applicable law, the Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, or non-infringement. No advice or information, whether oral or written, obtained by you from Company or through the Service will create any warranty not expressly stated herein. Without limiting the foregoing, Company, its subsidiaries, its affiliates, and its licensors do not warrant that the content is accurate, reliable or correct; that the Service will meet your requirements; that the Service will be available at any particular time or location, uninterrupted or secure; that any defects or errors will be corrected; or that the Service is free of viruses or other harmful components. Any content downloaded or otherwise obtained through the use of the Service is downloaded at your own risk and you will be solely responsible for any damage to your computer system or mobile device or loss of data that results from such download or your use of the Service.</p>
<p>Further, Company does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the Service or any hyperlinked website or service, and Company will not be a party to or in any way monitor any transaction between you and third-party providers of products or services.</p>
<p>Federal law, some states, provinces and other jurisdictions do not allow the exclusion and limitations of certain implied warranties, so the above exclusions may not apply to you. This Agreement gives you specific legal rights, and you may also have other rights which vary from state to state. The disclaimers and exclusions under this Agreement will not apply to the extent prohibited by applicable law.</p>
<ol>
    <li><strong>Limitation of Liability</strong></li>
</ol>
<p>To the maximum extent permitted by applicable law, in no event shall Company, its affiliates, agents, directors, employees, suppliers or licensors be liable for any indirect, punitive, incidental, special, consequential or exemplary damages, including without limitation damages for loss of profits, goodwill, use, data or other intangible losses, arising out of or relating to the use of, or inability to use, the Service. Under no circumstances will Company be responsible for any damage, loss or injury resulting from hacking, tampering or other unauthorized access or use of the Service or your account or the information contained therein.</p>
<p>To the maximum extent permitted by applicable law, Company assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content; (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to or use of our service; (iii) any unauthorized access to or use of our secure servers and/or any and all personal information stored therein; (iv) any interruption or cessation of transmission to or from the Service; (v) any bugs, viruses, trojan horses, or the like that may be transmitted to or through our service by any third party; (vi) any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or (vii) User Content or the defamatory, offensive, or illegal conduct of any third party. In no event shall Company, its affiliates, agents, directors, employees, suppliers, or licensors be liable to you for any claims, proceedings, liabilities, obligations, damages, losses or costs in an amount exceeding the amount you paid to Company hereunder or $100.00, whichever is greater.</p>
<p>This limitation of liability section applies whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if Company has been advised of the possibility of such damage.</p>
<p>Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitations or exclusions may not apply to you. This Agreement gives you specific legal rights, and you may also have other rights which vary from state to state. The disclaimers, exclusions, and limitations of liability under this Agreement will not apply to the extent prohibited by applicable law.</p>
<ol>
    <li><strong>Governing Law, Arbitration, and Class Action/Jury Trial Waiver</strong></li>
</ol>
<ol>
    <ol>
        <li><strong>Governing Law. </strong>You agree that: (i) the Service shall be deemed solely based in California; and (ii) the Service shall be deemed a passive one that does not give rise to personal jurisdiction over us, either specific or general, in jurisdictions other than California. This Agreement shall be governed by the internal substantive laws of the State of California, without respect to its conflict of laws principles. The parties acknowledge that this Agreement evidences a transaction involving interstate commerce. Notwithstanding the preceding sentences with respect to the substantive law, any arbitration conducted pursuant to the terms of this Agreement shall be governed by the Federal Arbitration Act (9 U.S.C. &sect;&sect; 1-16). The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. You agree to submit to the personal jurisdiction of the federal and state courts located in Los Angeles County, California for any actions for which we retain the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a our copyrights, trademarks, trade secrets, patents, or other intellectual property or proprietary rights, as set forth in the Arbitration provision below, including any provisional relief required to prevent irreparable harm. You agree that Los Angeles County, California is the proper forum for any appeals of an arbitration award or for trial court proceedings in the event that the arbitration provision below is found to be unenforceable.</li>
        <li><strong>Arbitration. </strong>Read this section carefully because it requires the parties to arbitrate their disputes and limits the manner in which you can seek relief from Company. For any dispute with Company, you agree to first contact us at michelle@pogo.io and attempt to resolve the dispute with us informally. In the unlikely event that Company has not been able to resolve a dispute it has with you after sixty (60) days, we each agree to resolve any claim, dispute, or controversy (excluding any claims for injunctive or other equitable relief as provided below) arising out of or in connection with or relating to this Agreement, or the breach or alleged breach thereof (collectively, &ldquo;<strong>Claims</strong>&rdquo;), by binding arbitration by JAMS, under the Optional Expedited Arbitration Procedures then in effect for JAMS, except as provided herein. JAMS may be contacted at www.jamsadr.com. The arbitration will be conducted in Los Angeles County, California, unless you and Company agree otherwise. If you are using the Service for commercial purposes, each party will be responsible for paying any JAMS filing, administrative and arbitrator fees in accordance with JAMS rules, and the award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys&rsquo; fees and reasonable costs for expert and other witnesses. If you are an individual using the Service for non-commercial purposes: (i) JAMS may require you to pay a fee for the initiation of your case, unless you apply for and successfully obtain a fee waiver from JAMS; (ii) the award rendered by the arbitrator may include your costs of arbitration, your reasonable attorney&rsquo;s fees, and your reasonable costs for expert and other witnesses; and (iii) you may sue in a small claims court of competent jurisdiction without first engaging in arbitration, but this does not absolve you of your commitment to engage in the informal dispute resolution process. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall be deemed as preventing Company from seeking injunctive or other equitable relief from the courts as necessary to prevent the actual or threatened infringement, misappropriation, or violation of our data security, Intellectual Property Rights or other proprietary rights.</li>
        <li><strong>Class Action/Jury Trial Waiver. </strong>With respect to all persons and entities, regardless of whether they have obtained or used the Service for personal, commercial or other purposes, all Claims must be brought in the parties&rsquo; individual capacity, and not as a plaintiff or class member in any purported class action, collective action, private attorney general action or other representative proceeding. This waiver applies to class arbitration, and, unless we agree otherwise, the arbitrator may not consolidate more than one person&rsquo;s Claims. You agree that, by entering into this Agreement, you and Company are each waiving the right to a trial by jury or to participate in a class action, collective action, private attorney general action, or other representative proceeding of any kind.</li>
    </ol>
    <li><strong>Additional Terms for Mobile Applications</strong></li>
    <ol>
        <li><strong>Mobile Applications. </strong>We may make available software to access the Service via a mobile device (&ldquo;<strong>Mobile Applications</strong>&rdquo;). To use any Mobile Applications you must have a mobile device that is compatible with the Mobile Applications. Company does not warrant that the Mobile Applications will be compatible with your mobile device. You may use mobile data in connection with the Mobile Applications and may incur additional charges from your wireless provider for these services. You agree that you are solely responsible for any such charges. Company hereby grants you a non-exclusive, non-transferable, revocable license to use a compiled code copy of the Mobile Applications for one Company User Account on one mobile device owned or leased solely by you, for your personal use. You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile Applications, except to the extent that such restriction is expressly prohibited by law; (ii) rent, lease, loan, resell, sublicense, distribute or otherwise transfer the Mobile Applications to any third party or use the Mobile Applications to provide time sharing or similar services for any third party; (iii) make any copies of the Mobile Applications; (iv) remove, circumvent, disable, damage or otherwise interfere with security-related features of the Mobile Applications, features that prevent or restrict use or copying of any content accessible through the Mobile Applications, or features that enforce limitations on use of the Mobile Applications; or (v) delete the copyright and other proprietary rights notices on the Mobile Applications. You acknowledge that Company may from time to time issue upgraded versions of the Mobile Applications, and may automatically electronically upgrade the version of the Mobile Applications that you are using on your mobile device. You consent to such automatic upgrading on your mobile device, and agree that the terms and conditions of this Agreement will apply to all such upgrades. Any third-party code that may be incorporated in the Mobile Applications is covered by the applicable open source or third-party license EULA, if any, authorizing use of such code. The foregoing license grant is not a sale of the Mobile Applications or any copy thereof, and Company or its third-party partners or suppliers retain all right, title, and interest in the Mobile Applications (and any copy thereof). Any attempt by you to transfer any of the rights, duties or obligations hereunder, except as expressly provided for in this Agreement, is void. Company reserves all rights not expressly granted under this Agreement. If the Mobile Applications is being acquired on behalf of the United States Government, then the following provision applies. The Mobile Applications will be deemed to be &ldquo;commercial computer software&rdquo; and &ldquo;commercial computer software documentation,&rdquo; respectively, pursuant to DFAR Section 227.7202 and FAR Section 12.212, as applicable. Any use, reproduction, release, performance, display or disclosure of the Service and any accompanying documentation by the U.S. Government will be governed solely by these Terms of Service and is prohibited except to the extent expressly permitted by these Terms of Service. The Mobile Applications originates in the United States, and is subject to United States export laws and regulations. The Mobile Applications may not be exported or re-exported to certain countries or those persons or entities prohibited from receiving exports from the United States. In addition, the Mobile Applications may be subject to the import and export laws of other countries. You agree to comply with all United States and foreign laws related to use of the Mobile Applications and the Service.</li>
        <li><strong>Mobile Applications from Apple App Store. </strong>The following applies to any Mobile Applications you acquire from the Apple App Store (&ldquo;<strong>Apple-Sourced Software</strong>&rdquo;): You acknowledge and agree that this Agreement is solely between you and Company, not Apple, Inc. (&ldquo;<strong>Apple</strong>&rdquo;) and that Apple has no responsibility for the Apple-Sourced Software or content thereof. Your use of the Apple-Sourced Software must comply with the App Store Terms of Service. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Apple-Sourced Software. In the event of any failure of the Apple-Sourced Software to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the Apple-Sourced Software to you; to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Apple-Sourced Software, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be solely governed by this Agreement and any law applicable to Company as provider of the software. You acknowledge that Apple is not responsible for addressing any claims of you or any third party relating to the Apple-Sourced Software or your possession and/or use of the Apple-Sourced Software, including, but not limited to: (i) product liability claims; (ii) any claim that the Apple-Sourced Software fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation; and all such claims are governed solely by this Agreement and any law applicable to Company as provider of the software. You acknowledge that, in the event of any third-party claim that the Apple-Sourced Software or your possession and use of that Apple-Sourced Software infringes that third party&rsquo;s intellectual property rights, Company, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by this Agreement. You and Company acknowledge and agree that Apple, and Apple&rsquo;s subsidiaries, are third-party beneficiaries of this Agreement as relates to your license of the Apple-Sourced Software, and that, upon your acceptance of the terms and conditions of this Agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce this Agreement as relates to your license of the Apple-Sourced Software against you as a third-party beneficiary thereof.</li>
        <li><strong>Mobile Applications from Google Play Store. </strong>The following applies to any Mobile Applications you acquire from the Google Play Store (&ldquo;<strong>Google-Sourced Software</strong>&rdquo;): (i) you acknowledge that the Agreement is between you and Company only, and not with Google, Inc. (&ldquo;<strong>Google</strong>&rdquo;); (ii) your use of Google-Sourced Software must comply with Google&rsquo;s then-current Google Play Store Terms of Service; (iii) Google is only a provider of the Google Play Store where you obtained the Google-Sourced Software; (iv) Company, and not Google, is solely responsible for its Google-Sourced Software; (v) Google has no obligation or liability to you with respect to Google-Sourced Software or the Agreement; and (vi) you acknowledge and agree that Google is a third-party beneficiary to the Agreement as it relates to Company&rsquo;s Google-Sourced Software.</li>
    </ol>
    <li><strong>General</strong></li>
    <ol>
        <li><strong>Assignment. </strong>This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Company without restriction. Any attempted transfer or assignment in violation hereof shall be null and void.</li>
        <li><strong>Notification Procedures and Changes to the Agreement. </strong>Company may provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to you via email notice, written or hard copy notice, or through posting of such notice on our website, as determined by Company in our sole discretion. Company reserves the right to determine the form and means of providing notifications to our Users, provided that you may opt out of certain means of notification as described in this Agreement. Company is not responsible for any automatic filtering you or your network provider may apply to email notifications we send to the email address you provide us. Company may, in its sole discretion, modify or update this Agreement from time to time, and so you should review this page periodically. When we change the Agreement in a material manner, we will update the &lsquo;last modified&rsquo; date at the top of this page and notify you that material changes have been made to the Agreement. Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Service. If you do not agree to any of these terms or any future Terms of Service, do not use or access (or continue to access) the Service.</li>
        <li><strong>Entire Agreement/Severability. </strong>This Agreement, together with any amendments and any additional agreements you may enter into with Company in connection with the Service, shall constitute the entire agreement between you and Company concerning the Service. If any provision of this Agreement is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect, except that in the event of unenforceability of the universal Class Action/Jury Trial Waiver, the entire arbitration agreement shall be unenforceable.</li>
        <li><strong>No Waiver. </strong>No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and Company&rsquo;s failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.</li>
        <li><strong>Contact. </strong>Please contact us at support@pogo.io with any questions regarding this Agreement.</li>
    </ol>
</ol>