// card enter/leave animations for ReactCSSTransitionGroup
.cardfx-enter {
  opacity: 0.01;
}

.cardfx-enter.cardfx-enter-active {
  opacity: 1;
  //transition: opacity 200ms ease-in; // OPT
}

.cardfx-leave {
  opacity: 1;
  width: 100%;
}

.cardfx-leave.cardfx-leave-active {
  opacity: 0.10;
  width: 1px;
  //transition: opacity 100ms ease-in; // OPT
}

// dm enter/leave animations for ReactCSSTransitionGroup
.dmfx-enter {
  height: 10px;
}

.dmfx-enter.dmfx-enter-active {
  height: 350px;
  //transition: height 200ms ease-in; // OPT
}

.dmfx-leave {
  height: 350px;
}

.dmfx-leave.dmfx-leave-active {
  height: 10px;
  //transition: height 100ms ease-in; // OPT
}


// member enter/leave anims
.mbrfx-enter {
  opacity: 0.01;
}

.mbrfx-enter.mbrfx-enter-active {
  opacity: 1;
  //transition: opacity 300ms ease-in; // OPT
}

.mbrfx-leave {
  opacity: 1;
  //width: 100%;
}

.mbrfx-leave.mbrfx-leave-active {
  opacity: 0.10;
  //width: 1px;
  //transition: opacity 300ms ease-in; // OPT
}


/*
@keyframes glow {
  from {
    box-shadow: inset 0 0 2px 5px rgba(22, 196, 255, 0.3);
  }
  to {
    box-shadow: inset 0 0 2px 5px rgba(22, 196, 255, 1);
  }
}

.glow {
  animation-name: glow;
  animation-duration: 0.4s;
  animation-iteration-count: 12;
  animation-direction: alternate;
  animation-timing-function:ease-in;
  -webkit-animation-name: glow;
}
*/

/*
.glowNewCard {
  animation-name: glow;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:ease-in;
  -webkit-animation-name: glow;
}
*/

/*
@keyframes glowTextFG {
  from {
    text-shadow: 0 0 5px rgba(200, 200, 200, 0.25);
    color: $gSecondary;
  }
  to {
    text-shadow: 0 0 15px rgba(250, 250, 250, 0.5);
    color: $gForeground;
  }
}

.glowTextFG {
  animation-name: glowTextFG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:ease-in;
}
*/


/*
@keyframes colorFade {
  from {
    color: $gHighlightColor;
  }

  75% {
    color: $gHighlightColor;
  }

  to {
    color: $gSecondary;
  }
}
.colorFade {
  //text-decoration: ;
  animation-name: colorFade;
  animation-duration: 10s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
}
*/

/*
@keyframes flashAndFade {
  from {
    color: $gFlashColor;
    opacity: 1.0;
  }
  2% { opacity: 0; }
  4% { opacity: 1; }
  6% { opacity: 0; }
  8% { opacity: 1; }
  10% { opacity: 0; }
  12% { opacity: 1; }
  14% { opacity: 0; }
  16% { opacity: 1; }
  18% { opacity: 0; }
  20% { opacity: 1; }

  65% {
    color: $gFlashColor;
  }

  to {
    color: $gSecondary;
  }
}
.flashAndFade {
  //text-decoration: ;
  animation-name: flashAndFade;
  animation-duration: 10s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
}
*/

/*
@keyframes fadeIn {
  from {opacity: 0.01;}
  to {opacity: 1;}
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count:1;
  animation-timing-function:ease-in-out;
}
*/

/*
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 10s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
}
*/

@keyframes k20PctCardBG {
  from {
    background-color: lighten($cardBG, 15%);
  }
  to {
    background-color: $cardBG;
  }
}
.card20BG {
  animation-name: k20PctCardBG;
  animation-duration: 1.5s;
  animation-iteration-count:1;
  animation-timing-function:ease-in-out;
}





@keyframes chFrames {
  from {
    filter: brightness(1);
    border: 1px solid $cardBorder;
  }
  50% {
    filter: brightness(1.25);
    //background-color: $gHighlightColor;
    border: 1px solid $gHighlightColor;
    //box-shadow: 0 0 30px $gHighlightColor;
  }

  to {
    filter: brightness(1);
    //background-color: $cardBG;
    border: 1px solid $cardBorder;
  }
}


// placeholders loading
/*
@keyframes gradMove {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}

.plLoading {
  background: linear-gradient(90deg, #333, #555, #333);
  background-size: 400% 400%;
  animation: gradMove 1s ease infinite;
}
*/

.cardHighlight {
  animation-name: chFrames;
  animation-delay: 1.1s;
  animation-duration: 1.1s;
  animation-iteration-count:1;
  //animation-timing-function:ease-in-out;
}

@keyframes pulseKF {
  0% {
    transform: scale(1);
  }

  55% {
    //background-color: rgba(255, 100, 100, 0.9);
    transform: scale(1.25);
  }
}

.pulse {
  animation-name: pulseKF;
  animation-duration: 1s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes workingKF {
  from {opacity: 1}
  to {opacity: 0.7}
}
.working {
  animation-name: workingKF;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}

// for sidebar
.slideInKF {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.slideIn {
  //animation: 0.2s ease-in-out slideInKF;
  animation-name: slideInKF;
  animation-duration: .2s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes rotHueKF {
  0% {
    filter: brightness(0);
  }
  30% {
    filter: brightness(0.15);
  }
  50% {
    filter: brightness(.9);
  }
  75% {
    filter: brightness(0.6);
  }
  100% {
    filter: brightness(0);
  }
}

/*
.rotHue {
  animation-name: rotHueKF;
  animation-duration: 25s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
*/

/**
 * People aren't feeling animations so much, after asking for them.
 * So let's try some static highlighting of changes instead.
 */

.outlineOrange {
  box-shadow: 0 0 1px 3px $gNewItemColor;
}
.outlineGreen {
  //box-shadow: 0 0 2px 4px $gGreen;
  box-shadow: 0 0 1px 3px $gNewItemColor;
}
.insetGreen {
  //box-shadow: inset 0 0 5px 4px $gGreen;
  //box-shadow: inset 0 0 5px 4px $gNewItemColor;
}

.shadowOrange{
  box-shadow: 0 0 10px 10px $gNewItemColor;
}

.highlightOrange {
  color: $gNewItemColor;
  font-weight: bold;
}
.highlightOrange, svg.highlightOrange, .highlightGreen, svg.highlightGreen {
  color: $gNewItemColor !important;
  font-weight: bold;
  stroke: $gNewItemColor;
  rect, circle, line, polyline {
    stroke: $gNewItemColor;
  }
  path {
    stroke: $gNewItemColor;
    color: $gNewItemColor;
  }
}


// clip path shapes
.suitcaseR {
  -webkit-clip-path: polygon(0 9%, 51% 9%, 63% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  clip-path: polygon(0 9%, 51% 9%, 63% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}

.suitcaseL {
  -webkit-clip-path: polygon(0 9%, 0 0, 44% 0, 48% 7%, 100% 7%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  clip-path: polygon(0 9%, 0 0, 44% 0, 48% 7%, 100% 7%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}

.suitcaseM {
  -webkit-clip-path: polygon(0 100%, 0 8%, 26% 8%, 31% 0, 69% 0, 74% 8%, 100% 8%, 100% 100%);
  clip-path: polygon(0 100%, 0 8%, 26% 8%, 31% 0, 69% 0, 74% 8%, 100% 8%, 100% 100%);
}

.folderClip {
  -webkit-clip-path: polygon(0% 0%, 22% 0, 25% 13%, 100% 13%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 22% 0, 25% 13%, 100% 13%, 100% 100%, 0% 100%);
}

.burned {
  color: #181213;
  //background-color: #5D8D89;
  text-shadow: 0px 1px 0px rgba(155,155,155,.3), 0px -1px 0px rgba(0,0,0,.7);
  font-weight: 700 !important;
  opacity: 0.65;
}

