// top level
.approvalPrepPane {
  width: 100%;
  min-width: 340px;
  height: 99%;
  padding: 1rem;
  transition: width 0.2s;
}
// work pane
.apWork {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// card carousel
.ccar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.apCardDetail {
  background: $cardspaneBackground;
  width: 100%;
  height: 100%;
  //max-height: 60%; // TODO find root cause
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .apcMain {
    display: flex;
    flex-direction: row;
    height: 90%;
  }
  .imgBox {
    width: 70%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    vertical-align: middle;
    border-radius: $boxRadius;
    margin-bottom: 1rem;
    display: inline-grid;
    img {
      //min-width: 90%;
      max-width: 100%;
      max-height: 99%;
      border-radius: $cardRadius;
      margin: auto;
    }
  }
  .reaction {
    width: 70%;
    .ooh {
      opacity: 0.5;
      //transition: opacity 0.2s;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.voteStats {
  text-align: left;
  //background-color: #333;
  //border: 1px solid $gBorder;
  padding: 1rem;
  border-radius: $boxRadius;
  background-color: #20222B80;
  opacity: 0.8;
  transition: 0.2s opacity;
  &:hover {
    opacity:1;
  }
}

.apComments {
  padding-left: 0;
  //padding-top: 2rem;

}

// shaders
.apShader {
  @extend .absFull;
  background-color: rgba(85,170,206, 0.4)
}
.rejectShader {
  @extend .absFull;
  //background-color: rgba(200,0,0,0.2)
}
