.cardViews {
  //height: 100%;
  width: 100%;
  background: $cardspaneBackground;
  box-sizing: border-box;
  overflow: hidden;
  margin-top:0;
  @media only screen and (min-width: 1024px) {
    //margin-top: 1rem;
  }
  position: fixed;
  .cardViewsWorkPane {
    //border: 1px solid red;
    height: 88%;
    margin-bottom: 3.5rem;
    background: $cardspaneBackground; // linear-gradient($cardspaneBackground, $cardspaneBackground, $gBackground);
    transition: top 0.3s ease-in-out;

    h1 {
      font-size: 4rem;
      //color: $gThird;
    }
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @media only screen and (min-width: 768px) {
      padding: 1rem 0 1rem 1rem;
      width: 100%;
    }
    @media only screen and (max-width: 767px) {
      padding: 0 0 1rem 1rem;
      overflow-y: scroll;
      //height: 80%;
    }


  }
  .sectionHdr {
    color: $gSecondary;
    margin: 0 0 0 2rem;
    font-size: 1em;
    @media only screen and (max-width: 768px) {
      font-size: 0.9rem !important; // h3
    }
  }
}

#sizeValue {
  margin-left: 10px;
  font-size: 0.8rem;
  color: $gForeground;
}

// semantic's card overrides
.ui.card, .ui.cards>.card {
  margin-top: 0;
  border: unset !important;
  box-shadow: unset !important;
  color: $cardFG;
  background: $cardBG !important;
  flex-grow:1!important;
  min-height:0!important;
}
.ui.card>.content, .ui.cards>.card>.content {
  border-top: none !important;
  color: $cardFG;
  background: $cardSectionBG;
  border-radius: $cardRadius;
}
.ui.card>.main, .ui.cards>.card>.main {
  vertical-align: top;
  //max-height: 2rem;
}
.ui.card>.extra, .ui.cards>.card>.extra {
  //border-top: none !important;
  padding: .3em 0.5em !important;
  color: $cardFG;
  background: $cardSectionBG;
  border-radius: $cardRadius;
}

.ui.star.rating {
  &.selected {
    color: white !important;
  }
  &.icon {
    text-shadow: unset !important;
    color: $gThird !important;
  }
  &.active.icon {
    color: $gForeground !important;
  }
}

// This shall be the one and only Wrangl Card class
.LeCard {
  //background-color: $cardBG;
  margin: 0 1.1rem 1.9rem 0;
  position: relative;
  //border: 1px solid $cardBorder;
  border-radius: $cardRadius;
  box-shadow: 0 0 3px rgba($cardBG, 0.15);
  &.tight {
    //margin: 0;
  }
  &:hover {
    box-shadow: 0 0 15px rgba(50,50,50,0.25);
    .editorTrig {
      opacity: 1;
    }
  }
  //perspective: 600px;
  float: left;

  &.hasActivity {
    border-radius: $cardRadius !important;
    border: 2px solid $jBlue;
    //box-shadow: 0 10px 10px rgba(0, 150, 150, 0.95) !important;
  }


  // TODO factor these out into CardSizes, for use with Folders as well
  // mobile
  @media only screen and (max-width: 767px) {
    @media (orientation:landscape) {
      width: 45vw; // initial dimension only. Will change
      height: 50vw;
    }
    @media (orientation:portrait) {
      width: 96%; // initial dimension only. Will change
    }
  }
  // tablet
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
      width: 6rem;
      height: 7rem;
  }
  // large
  @media only screen and (min-width: 1024px) {
    width: 16rem;
    height: 20rem; // 18.4rem // 1.15 vs 1.25
  }

  &.preview {
    border: 1px solid lighten($cardBorder, 15%);
    // tablet & desktop
    @media only screen and (min-width: 768px) {
      width: 15rem; // initial dimension only. Will change
      height: 17.5rem;
    }
  }

  transition: /*opacity 0.1s, */width 0.3s, height 0.3s, top 0.3s, left 0.3s, box-shadow 0.3s; //, margin-left 0.3s, margin-right 0.3s;
  cursor: move;
  //overflow: hidden;
  //box-shadow: 0 0 4px rgba(55, 55, 55, 0.15);

  // Card click in editable view results in expansion
  /*
  &.expanded {
    cursor: pointer;
    .content.default {
      //max-height: 10%;
    }
    box-shadow: 0 0 25px rgba(55, 55, 55, 0.20);
  }
  */

  // Items from left pane dragged onto card. Not used for card dnd sorting.
  &.dropTarget {
    border: 4px solid rgba(43, 165, 234, 0.9);
    border-radius: $cardRadius;
    box-shadow: 0 0 20px rgba(50,50,50,0.55);
  }

  &.sortTarget {
    //border-left: 4px solid rgba(43, 165, 234, 0.9);
    //border-right: 4px solid rgba(43, 165, 234, 0.9);
    //box-shadow: 0 0 20px rgba(50,50,50,0.75);
    opacity: 0.2;
  }

  .desc {
    color: $gThird;
    overflow: hidden;
    white-space: nowrap;
    margin: 0.15rem 0 0 0 // -1.3rem 0; // TODO get rid of negative bottom margin. It's annoying.
  }

  .cardImage {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    vertical-align: middle;
    background-color: $cardBG; // #181818;
    background-size: cover;
    transition: background-position-y 0.3s, filter 0.3s;
    width: 100%;
    .createdBy {
      position:absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color: $gForeground;
      font-style: italic;
    }
    .more {
      opacity: 0;
    }
    &.big {
      //@media only screen and (min-width: 1024px) {
        height: 68%;
        min-height: 68%;
      //}
      margin-top: 0;
      //cursor: zoom-in;
    }
    &.expanded {
      //cursor: zoom-out;
    }
    &.bigger {
      height: 100%;
      //cursor: zoom-out;
    }
    &.preview {
      height: 72%;
    }
    &.readonly, &.selected {
      cursor: pointer;
    }
    &:hover, &.selected {
      .more {
        opacity: 1;
      }
    }
  }

  // foreground image tag rather than backgroundimage
  .fgImage {
    width: 100%;
  }

  &.selected {
    //box-shadow: 2px 0 17px #777;
  }
  svg, i.icon {
    cursor: pointer;
  }

  .moreCardActions {
    // TODO what'sthe best position?
    bottom: 44px;
    right: -6px;
  }
}

/*
.side {
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  background-size: cover;
  .content {
    background-size: cover;
  }
  //height: 100%;
  //width: 100%;
}
*/

/*
.back {
  background-color: $cardSectionBG;
  color: $gForeground;
  //transform: rotateY(180deg);
  margin-top: 0;
  height: 100%;
}
*/

/*
.cardPortal {
  opacity: 0.01;
  //transition: opacity 0.2s;
  background-color: $cardSectionBG;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
*/


// Semantic ui card, child of flippable
.card {
  //transition: width 0.3s, height 0.3s;
  width: 100%;
  //height: 100%;
  transition: /*opacity 0.2s, */top 0.3s, left 0.3s;
  overflow: hidden;
  border-radius: $cardRadius !important;
  position: relative;

  &:hover {
    .cardTools {
      opacity: 1;
      color: $gForeground;
    }
    .cardLtr { opacity: 0 }
    .imageTrigger { color: $gForeground; }
    .attmInCard {
      i.icon {
        color: $gForeground
      }
    }

  }

  // Card click in readonly view results in selection
  &.selected {
    border-radius: $cardRadius !important;
    border: 2px solid $jBlue !important;
    //box-shadow: 0 10px 10px rgba(0, 150, 150, 0.95) !important;
  }

  .creator {
    margin: 0 0.5rem;
    display: inline-block;
    font-size: 0.82rem;
    //float: right;
    font-style: italic;

  }

  .content {
    overflow: hidden;
    .editing {
      //border: 1px solid $gBorderSemantic;
    }
  }
  .miniContent {
    display: none;
    margin-top: -12px !important;
  }
  .extra {
    //transition: opacity 0.2s ease-out;

    .inlineTag {
      margin-top: 5px;
      float: right;
      i.icon {
        margin-top: -2px;
      }
      .tabAbbrev {
        vertical-align: bottom;
      }
    }
    .right {
      float: right;
      //padding: 1rem;
      .source {
        //margin-right: 0.5rem;
      }
      .icon {
        //margin-right: 0.5rem;
      }
    }
  }

  .cardLtr, .cardTools {
    position: absolute;
    //z-index: 1;
    top: 0;
    left: 0;
    font-size: 1.3rem;
    //transition: opacity 0.2s ease-out;
    height: 2.5rem;
    color: $gForeground;
    background: $gHoverlayBG;
    padding: 0.6rem 0.5rem 0 0.6rem;
    overflow: hidden;
  }

  .cardLtr {
    padding: 0.7rem 0.6rem;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 2.1rem;
  }
  .cardTools {
    width: 100%;
    transition: /*opacity 0.2s, */color 0.2s;
  }
  .attmsInCard {
    .attmInCard {
      .preview {
        max-width: 1.3rem;
        height: 1.3rem;
        margin-bottom: -3px;
        margin-right: 0.25rem;
        border: 1px solid white;
        border-radius: 3px;
        &:hover {
          border: 1px solid $gHighlightColor
        }
      }
      i.icon {
        //color: $gSecondary;
        margin-left: 0.1rem;
        &:hover {
          color: $gHighlightColor;
        }
      }
      .title {
        display: none
      }
      .overlay {
        display: none
      }
    }
  }

  .tagsAndReactions {
    position: relative;
    width: 100%;
    .cardTagsMini {
      //border: 1px solid red;
      //margin-left: 0.25rem;
      //min-width: 50%;
      //max-width: 70%;
      width: 100%;
    }
    .cardReactions {
      //border: 1px solid blue;
      //min-width: 30%;
    }


  }

  .cardActions {
    position: absolute;
    top: 0;
    height: 2.25rem;
    width: 100%;
    padding-top: 0.25rem;
    text-align: center;
    background-color: rgba(200,200,200,0.2);

    .centerAction {
      margin: auto;
    }

    .leftAction {
      left: 0.5rem;
      top: 0.5rem;
      text-align: left;
      .link {
        margin-bottom: -2px;
        color: $gBlue;
      }
      .embedIcon {
        width: 1.5rem;
        cursor: pointer;
      }
    }

    .rightAction {
      right: 0.5rem;
      //bottom: 0.5rem; // yes necessary. no longer.
    }

    //margin: -3px 0.4rem 4px 0;
    //transition: opacity 0.2s ease-out;

    .reactionIcon, .commentIcon {
      margin: 0 2px -2px 0;
      cursor: pointer;
      color: $cardFG;
      transition: color 0.3s, width 0.3s, height 0.3s, stroke 0.3s;
      path {
        transition: stroke 0.3s, color 0.3s;
      }

    }
    .count {
      left: 50%;
      color: $gForeground;
      font-size: 0.8rem;
      margin-left: 2px;
      vertical-align: top;
      /*
      &.active {
        color: $gForeground !important; // semantic override
      }
      &.zero {
        opacity: 0.7;
      }
      */
    }
  }

  .fieldPopup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem 0.2rem 0 0.4rem;
    //min-height: 2.5rem;
    background-color: $gWorkBackground; // rgba(27,28,29,0.7);
    border-radius: 8px;
    //box-shadow: 0 0 10px rgba(50,50,50,0.15);
    .icon {
      color: $gDarkSecondary;
      margin-right: 0.5rem;
    }
  }
}

.newCard {
  //opacity: 0.64;
  //transition: opacity 0.2s;
  border: 1.5px dashed lighten($gBorder, 10%);
  &:hover {
    opacity: 1;
  }
}

.tagStrip {
  //width: 97%;
  margin: auto;
  overflow-y: visible;
  font-size: 0.7rem;
  color: white;
  //opacity: 0.75;
  span.tag {
    min-width: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid $gBorder;
    border-radius: 8px;
    //box-shadow: inset 0 5px 8px rgba(40,50,40,0.25) !important;
    background-color: $gWorkBackground;
    color: $gThird;
    &:hover {
      .attmAction {
        opacity: 1;
      }
    }
  }
  .untagBtn {
    opacity: 0;
    color: black !important;
    //transition: opacity 0.3s;
    margin-bottom: -4px;

  }
}

// Items Beneath Card
.cardUrl {
  height: 1.5rem;
  line-height:1.7rem;
  width: 100%;
  margin: 0 0 .5rem 0;
  text-overflow: ellipsis;
  padding: 0;
  font-size: 1rem;
  color: $gForeground;
}

.LeImage {
  width: 75%;
  margin: auto;
  &.selected {

  }
}

// test
.tOuter {
  position: relative;
  //height: 100%;
  //padding-top: 67.25%;
  display: block;
  width: 100%;
  overflow: hidden;
  //background-color: #888; // $cardBG; // TEMP TEST
  border-top-left-radius: $cardRadius;
  border-top-right-radius: $cardRadius;
  //border-bottom: 1px solid $gBorder;
  .imgTools {
    opacity: 0;
  }
  &:hover {
    .imgTools {
      opacity: 1;
    }
  }
}

.tInner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: 100%;
  //width: 100%;    // uncommenting these 2 lines produces same result, but elem is measured to be full width as outer container.
  //object-fit: contain;
  margin: auto;
  transition: all 0.2s ease-out;
}

.tBlur {
  box-shadow: 0 0 5px 5px rgba($cardBG, 0.2) inset;
  background-size: cover;
  background-position: 50%;
  height: 100%;
  width: 100%;
  filter: blur(4rem); //  brightness(.7); // OPT TODO may look crappy
}


.tCover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  //filter: blur(20px) contrast(0.7) brightness(1.2);
  background-size: cover;
  //border-radius: 7px;
}

.titleOuter {
  height: 100%;
  width: 100%;
  position: relative;
  transition: filter 0.7s ease-in-out;
  h2 {
    font-size: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: $gFourth;
    -webkit-text-fill-color: $gFourth;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $gFourth;
    margin-top: 10%;
  }
  .descBox {
    margin: 1rem;
    word-wrap: normal;
    text-align: left !important;
  }
}

// horizontal masonry experiment
.LeTile {
  box-sizing: border-box;
  height: 15rem;
  // mobile
  @media only screen and (max-width: 767px) {
    height: 8rem;
  }
  // tablet
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    height: 8rem;
  }

  display: inline-block;
  margin: 0.5rem;
  border-radius: $cardRadius;
  position: relative;
  overflow:hidden;
  //transition: opacity 0.2s ease-in-out;

  img {
    border-radius: $cardRadius;
    height: 15rem;
    // mobile
    @media only screen and (max-width: 767px) {
      height: 8rem;
    }
    // tablet
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      height: 8rem;
    }
  }
  &.noImg {
    border: 1px solid $gBorder;
    height: 15rem;
    width: 15rem;
    // mobile
    @media only screen and (max-width: 767px) {
      height: 8rem;
      width: 8rem;
    }
    // tablet
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      height: 8rem;
      width: 8rem;
    }
  }

  &.sortTarget {
    opacity: 0.2;
  }

  .toverlay {
    box-sizing: border-box;
    border-radius: $cardRadius;
    background-color: $gHoverlayBG; // rgba(29, 32, 33, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    opacity: 0;
    //transition: opacity 0.2s;
    cursor: pointer;
    .top {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 1rem;
      h2 {
        color: white;
      }
    }
    .mid {
      position: absolute;
      bottom: 4rem;
      .attmsInTile {
        //margin-left: 0.25rem;
        .attmInTile {
          margin: 0 0.7rem 0 0;
          display: inline-block;
          cursor: pointer;
          vertical-align: top;
          //transition: opacity 0.2s;
          .preview {
            max-width: 2rem;
            max-height: 2rem;
            border: 1px solid white;
            border-radius: 5px;
          }
          i.icon {
            color: white;
            margin: 5px -2px 0 -2px;
            font-size: 2rem;
            max-width: 2rem;
          }
          .title, .overlay {
            display: none
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }

    }
    .bottom {
      position: absolute;
      bottom: 1rem;
    }
  }
  &:hover {
    box-shadow: 0 0 15px rgba(50,50,50,0.3);
    .toverlay {
      opacity: 1;
    }
    .titleOuter {
      //filter: blur(0.2rem);
      //opacity: 0.2;
    }

  }
}

// A small reference to a card, usually contained in a conversation, similar to a thumbnail
span.cardRef {
  font-weight: bold;
  color: $gHighlightColor;
  border: 1px solid $gBorder;
  &:hover {
    box-shadow: 0 0 10px $gHighlightColor;
  }
}

.imgCardRef {
  width: 3rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: .5rem .5rem 1rem 0;
  background-size: cover;
  background-color: rgba(0,0,0,0.25);
  padding: 9px 0;
  text-align: center;
  vertical-align: middle;
  .title, .subtitle {
    margin: auto;
    padding: 4px;
  }
  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .subtitle {
    bottom: 0;
    left: 0;
    width: 100%;
    padding:0;
    font-size: .8rem;
    //background-color: rgba(0,0,0,0.4);
  }
  .source {
    top: 2px;
    left: 20%;
    margin: auto;
    max-width: 95%;
    max-height: 50%;
    //opacity: 0.4;
  }
  &.sel {
    border: 4px solid $jYellow;
  }
  &:hover {
    border: 2px solid white;
    .attmAction {
      opacity: 1 !important;
    }
  }
}

// hover actions used by imageCardRef and MemberAvatar
.attmAction {
  background-color: rgba(0,0,0,0.75); // $jSideBG; // $jPink; // rgba(50,50,50,0.75);
  padding: 0.25rem;
  color: $jPink;
}


// preview shown during drag&drop
.cardDrag {
  border: 1px solid $gBorder;
  box-shadow: 0 0 20px rgba(50,50,50,0.5);
  border-radius: $cardRadius;
  opacity: 0.7;
  //background-color: $gOrange;
  //padding: 1rem;
}

// drop zone cards pane. Needs to remain fixed while long cardspane scrolls.
// TODO SEPARATE COMPONENT OR SAME TOP LEVEL AS CARDS PANE. CAN'T BE INSIDE CARDS PANE.
#dzcp {
  bottom: 3rem;
  left: 0;
  right: 0;
  top: 0;
}

.twoLineHdr {
    line-height: 1.4em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.threeLineSmall {
  line-height: 1.3em;
  font-size: .8rem;
  height: 3.4em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;
}

// stacks test
.cardStack {
  .cwrap {
    transition: top 0.25s ease-in-out;
  }
}