.nav {
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  //opacity: 0.45;
  transition: background-color 0.2s;
  &.left {
    left: 0.2rem;
  }
  &.right {
    right: 0.2rem;
  }
  &:hover {
    background: rgba(100,100,100,0.95);
  }
}

.cardEditor, .cardViewer {
  margin: auto;
  color: $gForeground;
  padding: 1rem;
  position: relative;
  //border: 1px solid $gBorder;
  width: 100%;
  overflow-y: auto;

  .readOnlyPane {
    color: $gForeground;
    padding: 0.5rem 0 0.5rem 1rem !important;
    margin: 0;
  }
  .imageEditor {
    margin-top: -4px;
    margin-bottom: 10px;
    background-color: $gSecondaryToolsBackground;
    padding-left: 2rem;
    .imageIcon {
      margin: 6px 3rem 4px 1rem;
      color: $gSecondary;

    }
  }
  img {

  }
  form {
  }
}

.cardEditorMask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(200,200,200,0.5);
  z-index: 2;
}

.btnTrns {
  background: rgba(100,100,100,0.15);
  transition: background-color .2s;
  padding: .5rem;
  &:hover {
    background: rgba(100,100,100,0.75);
  }
}