// all !importants are semantic overrides. Future: consider removing semantic altogether.
.slideShowModal {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  margin: 1rem !important;
  width: 98% !important;
  height: 96%  !important;
  color: $gDarkThird !important;
  background-color: $gSlideBackground !important;
  padding: 1.5rem;
  h1 {
    margin-left: 1.3rem;
    max-width: 90%;
  }

  .content {
    height: 100% !important;
    color: $gDarkThird !important;
    background-color: transparent !important;
  }
  .nav {
    position: fixed;
    top: 50%;
    &.left {
      left: 0.1rem;
    }
    &.right {
      right: 1.5rem;
    }
  }
  .thumbs {
    position: absolute;
    top: 6.5rem;
    left: 3rem;
    .thumb {
      width: 3rem;
      height: 3rem;
      background-size: cover;
      border: 1px solid $gDarkBorder;
      border-radius: 5px;
      margin-bottom: 0.5rem;
      transition: filter 0.2s, border 0.2s;
      text-align: center;
      &:hover {
        // filter: brightness(1.1);
        border: 1px solid lighten( $gDarkBorder, 10% )

      }
    }
    i.icon {
      display: block;
      font-size: 3.2rem;
      color: $gSecondary;
      margin: -0.4rem 0 1.1rem -0.3rem;
      &:hover {
        color: lighten( $gSecondary, 10% )
      }
    }
  }
  .bottomStats {
    position: absolute;
    // must reach out of modal content, into dimmer territory
    bottom: -8%;
    right: -10% !important;
    left: 0 !important;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 5rem;
    label {
      color: #aaa;
      margin-right: 0.5rem;
    }
    span {
      color: $gDarkSecondary;
      margin-right: 0.5rem;
      max-width: 50%;
    }
  }
}


// all !importants are semantic overrides
.cardFullView {
  height: 100%;
  .contentPane {
    height: 90%;
    width: 75%;
    float: left;
    text-align: center;
    .cfiBox {
      text-align: right;
      margin: auto;
      width: auto;
      .image {
        max-width: 98%;
        //min-width: 77%;
        max-height: 99%;
        border-radius: 15px;
        &.partial {
          max-width: 91%;
          min-width: 73%;
          //float: right;
          margin-left: 2.5rem;
        }
        &.full {
          max-width: 98%;
        }
      }
    }
    .empty {
      min-height: 100%;
      border: 1px solid $gDarkBorder;
      background-color: rgba(0,0,0,0.7);
    }
    .fvInfo {
      color: $gDarkThird;
      margin-top: 2rem;
      margin-left: 2rem;
      text-align: left;
      .t1 {
        font-size: 5rem;
        line-height: 6rem;
        margin-bottom: 1rem;
      }
      .d1 {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
  }

  .commentsPane {
    height: 90%;
    width: 24.9%;
    float: right;
    color: $gDarkThird;
    overflow-y: auto;
    overflow-x: hidden;
    .comments {
      position: relative;
      width: 98%;
      overflow-x: hidden;
    }
    h3 {
      color: $gDarkThird;
    }
    a {
      color: $gDarkThird !important;
    }
    .fvInputWrapper {
      border: 1px solid $gDarkBorder;
      border-radius: 5px;
      width: 94%;
      input {
        background-color: $gSlideBackground !important;
        color: $gDarkThird !important;
      }
      i.icon {
        color: $gDarkThird !important;
      }
    }

  }

}


.fullImageOuter {
  position: relative;
  height: 100%;
  padding-top: 17.25%;
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: $gDarkBackground;
  border-radius: 15px;
}

.fullImageInner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  //max-width: 103%;    // 103 = fill in tiny gaps, at tiny cost.
  //max-height: 103%;
  margin: auto;
  //transition: all 2s ease-out;
}
