.discussCol {
  transition: width 0.15s, opacity 0.15s;
  background-color: $jSideBG;
}
.discussBody {
  //box-shadow: inset 0.5rem 0.1rem 50px rgba( $gFrameBackground, 0.35);
}

.comments {
  position: absolute;
  top: 3.15rem;
  overflow-x: hidden;
  width:100%;
  height: calc(100% - 3.5rem);
  //border: 1px solid red;
  //padding-left: 1rem;
  //padding-right: 1rem;
  &.active {
    background-color: lighten($jSideBG, 10%);
  }
  h3 {
    color: $gSecondary;
  }
  //overflow-y: hidden;
  //border-right: 1px solid $gBorder;
  .chdr {
    //background-color: $gBackground;
    color: $gSecondary;
    padding: 0.2rem 0.2rem 0 1rem ;
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    margin-left: 0;
    //box-shadow: 5px 0 10px rgba(50,50,50,0.1)
  }
  .tightComment {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .commentScroller {
    //overflow-y: auto;
    height: 100%;
    .inputWrapper {
      //width: 23%;
      color: $gDarkSecondary;
      input {
        color: $gDarkSecondary;
        border: 1px solid $gBorder;
        background-color: transparent;
      }
    }
    .userImg {
      float: left;
      margin-right: 0.5rem;
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      min-height: 2rem;
    }
    .cText {
      color: $gSecondary !important;
    }
    .deleteIcon {
      position: absolute;
      right: 0.2rem;
    }
  }

  .discuss {
    //border: 1px solid blue;
    overflow-y: hidden;
    display: block;
    font-size: 0.9rem;
    width: 100%;
    height: calc(100% - 8.35rem);
    //padding-left: 1rem;
    //padding-right: 1rem;
    .horiz {
    }
    .history {
      position: absolute;
      overflow-y: auto;
      overflow-x: hidden;
      word-wrap: break-word;
      &.full {
        //height: calc(100% - 6rem);
        bottom: 4.25rem;
      }
      &.shrink {
        //height: calc(100% - 6rem);
        bottom: 10rem;
      }

      // large
      @media only screen and (min-width: 768px) {
        //bottom: 4rem;
        //width: 22.7%;
        //max-height: 0;
        //padding-right: 0.5rem;
      }
      // mobile
      @media only screen and (max-width: 767px) {
        //bottom: 3.5rem;
        width: 100%;
        //max-height: 35%;
      }

      .stillTalking {
        position: relative;
        //padding-left: 3rem;
        padding-top: 0 !important; // semantic
        margin-bottom: 0.4rem;
        &:hover {
          .deleteIcon {
            opacity: 1;
          }
          background-color: $gWorkBackground;
        }
      }
      .userImg {
        float: left;
        margin-right: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background-size: cover;
        border-radius: 50%;
      }
      .cText {
        color: $gForeground !important;
        font-size: 0.9rem;
        padding-left: 3rem;
      }
      /*
      .date {
        margin-top: 0.3rem;
        color: $gThird;
        font-size: 0.8rem;
      }
      */

      .deleteIcon {
        position: absolute;
        right: 1rem;
        top: 0.2rem;
      }
      .comment {
        position: relative;
        margin-top: 0.7rem !important; // semantic
        padding-top: 0 !important; // semantic
        &:hover {
          background-color: $gWorkBackground;
          .deleteIcon {
            opacity: 1;
          }
        }
      }
    }
    .inputWrapper {
      width: 23%;
      position: fixed;
      bottom: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      @media only screen and (min-width: 768px) {
        bottom: 3.5rem;
      }
      input {
        //background-color: $gDarkBackgroundActive !important; // semantic
        color: $gForeground;
        border: 2px solid $gThird; // semantic
      }
      i.icon {
        margin-top: 0 !important;
        color: $gSecondary;
      }
    }
    i.icon {
      color: $gThird;
    }
    img {
      //border-radius: 8px;
    }
    &:hover {
      .paneCtrls {
        opacity: 1;
      }
    }
  }
}

.commentsFullView {
  overflow-y: auto;
  //margin-top: -1rem !important; // semantic override
  border-top: none !important; // semantic override
  padding-right: 0 !important; // semantic override
  color: lighten($gForeground, 10%) !important;
  height: 90%;
  background-size: cover;

  .hdr {
    font-size: 0.9rem;
    margin-top: 0.5rem !important; // semantic override
    margin-bottom: 0.5rem;
    font-weight: normal !important; // semantic override
    max-width: 92%;
  }

  .list {
    margin-top: 0.5rem;
  }

  .cardComments {
    width: 95%;
    font-size: 0.9rem;
    .secInfo {
      background-color: $cardBG;
      color: $gForeground;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
    }
    .cmt {
      position: relative;
      background-color: $gNoteBG;
      color: $gNoteFG;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      //border: 1px solid $gFloatPaneBorder !important; // semantic override. let's lose it
      border-radius: 3px;
      clip-path: polygon(1.25% 0%, 100% 0%, 98.75% 100%, 0% 100%);

      .nText {
        padding: 0 0.5rem;
      }
      .meta {
        font-style: italic;
        padding: 0 0.5rem;
      }
      .delNote {
        top: 0.5rem;
        right: 0.5rem;
      }
    }
    .commentScroller {
      overflow-y: auto;
      .commentInput {
        background: none !important;
        background-color: transparent !important;
      }
      .deleteIcon {
        position: absolute;
        right: 0.2rem;
      }
    }
  }
}

.noteInput {
  width: 99%;
  input {
    background-color: $gInputBG;
    color: $gForeground;
    border: 1px solid $gNoteBG !important;
  }
}

.miniProjectComments {
    width: 2.75rem;
    padding: 1rem 0 0 1.6rem;
    .miniBadge {
      margin-top: 0.5rem;
      background-color: $gOrange;
      color: white;
      padding: 0.25rem 0 0 0.25rem;
      border-radius: 50%;
      font-size: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }

}

.userPopup {
  position: absolute;
  //bottom: 8rem;
  //width: 90%;
  height: 350px;
  overflow-y: hidden;
  background-color: $gBackground;
  box-shadow: $gShadow;
  border: 1px solid $gBorder;
  transition: all 0.2s;
  color: $gSecondary;
  .hdr {
    padding: .5rem;
    border-bottom: 1px solid $gBorder;
  }
  .userSearch {
    top: 0;
    width: 100%;
  }
  .userList {
    //margin-top: 2rem;
    height: calc(350px - 2.5rem);
    overflow: auto;
    //padding: 1rem 1rem 0 1rem;
    // or move to contacts.scss, meh
    .member:hover {
      img {
        // filter: brightness(1.2);
        box-shadow: 0 0 4px $gHighlightColor;
      }
    }
  }
  .userName {
    min-height:2.5rem;
    overflow: hidden;
    padding: 0 0 1rem 1rem;
  }
  .userEmails {
    border-top: 1px solid $gBorder;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  /*
  .row {
    padding: .25rem 0.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    img {
      width: 16px;
      margin-right: 1rem;
    }
    &:hover, &.active {
      //color: $gBackground;
      background-color: $gBackgroundHover;
    }
  }
  */
}

.msgMeta {
  display: block;
  margin-bottom: 0.5rem;
}


.msgRow {
  margin-bottom: .25rem;
  .aActions {
    opacity: 0;
    background-color: #4d505df0;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    /*
    &:hover {
      background-color: $gWorkBackground;
    }
    */
  }
  &:hover {
    .aActions {
      opacity: 1
    }
  }
}

// the bubble
.msgOuter {
  display: inline-block;
  padding: 0.75rem;
  border-radius: 15px;
  margin-left: 2rem;
  //margin-bottom: 0.5rem;
  max-width: 90%;
  line-height: 1.2rem;
  transition: all 0.2s;
  background-color: $jItemBG;
  &.unread {
    background-color: darken($jBlue, 10%);
  }
  .msgInner {
    display: inline;
    text-align: left;
    word-wrap: break-word;
    color: white;
    //padding: .75rem;
    width: 100%;
    .atUser {
      background-color: rgba(0,0,0,0.1);
      color: white;
      padding: 2px 5px;
      border-radius: 4px;
      margin-top: 4px;
      margin-right: .3rem;
      transition: background-color 0.2s ;
      &:hover {
        background-color: rgba(0,0,0,0.3);
      }
    }
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: #f0f0ff;
      }
    }
  }
  .allAttms {
    //padding: .25rem 0 0 .75rem;
    //background-color: white;
    //border-bottom-left-radius: 10px;
    //border-bottom-right-radius: 10px;
  }
  &.editing {
    opacity: 0.7;
  }
}

.msgEditor {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  transition: all 0.3s;
  .ctrls {
    color: white;
    right:.25rem;
    bottom: .5rem;
    i.icon {
      font-size: 16px !important; // semantic
    }
  }
  .attmsPane {
    height: 4rem;
  }
  &.collapsed {
    background-color: transparent;
  }
  &.expanded {
    min-height: 8rem;
    padding: 0.5rem 0.75rem;
    border-radius: 16px;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.75);
    //margin-bottom: 0.5rem;
    //max-width: 90%;
    //line-height: 1.2rem;
  }

}

.convoInput {
  transition: all 0.3s;
  background-color: #c8c8c8;
  color: $jFGinverted;
  padding: .5rem;
  border-radius: $inputRadius;
  border: 1px solid $gBorder;
  width: 100%;
  &.double {
    border-radius: $cardRadius;
  }
  &.active {
    border-color: $gHighlightColor !important;
    box-shadow: 0 0 10px $gHighlightColor !important;
  }

}

