/**
 * Contacts and Members
 */

.member {
  //display: block;
  position: relative;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  .image {
    height: 22px; // 1.6rem;
    width: 22px; // 1.6rem;
    //min-width: 1.8rem;
    //margin-bottom: 0.5rem;
    //opacity: 0.8;
    border-radius: 50%;
    //filter: saturate(0) contrast(0.7) brightness(1.5);
    //transition: filter 0.2s;
    &.invited {
      //opacity: 0.75;
      //filter: saturate(0.4)
    }
    &:hover {
      // filter: none;
    }
  }
  .name {
    color: $gSecondary;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  .invitedIcon {
    margin: 0 -0.4rem 0.9rem -0.5rem;
  }
  .initials {
    padding: 5px;
    min-height: 22px;
    min-width: 22px;
    border: 1px solid $gBorder;
    border-radius: 50%;
    color: $gSecondary;
  }
  &:hover {
    .attmAction {
      opacity: 1 !important;
    }
  }
}

.side-pane.people {
  overflow-y: auto;
  border-radius: 3px;
  .heading {
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 0.8rem;
    //color: $gSecondary;
    //border-bottom: 1px solid $gBorder;
  }

}
.person {
  position: relative;
  margin-bottom: .25rem;
  padding-top: .25rem;
  padding-left: .25rem;
  cursor: pointer;
  transition: filter 0.3s;
  white-space: nowrap;
  &.active {
    background-color: $gActiveBG;
    color: white !important;
    font-weight: 700 !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .uActions {
    //transition: opacity 0.2s;
    background-color: $gDarkBackgroundActive;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    svg {
      margin-right: 0.5rem;
    }
  }
  img {
    //min-width: $leftPaneIconSize;
    //min-height: $leftPaneIconSize;
    //border-radius: 50%;
    //background-size: cover;
    //background-repeat: no-repeat;
  }
  .msgIcon {
    display: none;
  }
  &:hover {
    border-radius: $boxRadius;
    background-color: $jMidBG;
    .showonh {
      opacity: 1;
    }
    .hideonh {
      opacity: 0;
    }
    .msgIcon {
      display: inline-block;
    }
  }
}

.avatar {
  min-width: $leftPaneIconSize;
  min-height: $leftPaneIconSize;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  .fullSize {
    //transition: opacity 0.2s;
  }
}

.contactsModal {
  .prompt {
    width: 250px;
  }
  .section {
    margin: 0.5rem;
    h3 {
    }
    .input, .button {
      margin-right: 0.5rem;
    }
    padding-bottom: 1rem;
    &.peoplePane {
      width: 99%;
      height: 86%;
      float: left;
      .search, h3 {
        margin-bottom: 0.5rem;
        display: inline-block;
      }
    }
  }

  .note {
    font-size: 1.2rem;
    color: $gThird;
    font-style: italic;
  }

  .people {
    width: 100%;
    height: 90%;
    //overflow-y: auto;
    //background-color: $gWorkBackground;
    h3 {
      color: $gForeground;
    }


  }
}

.discussAvatars {
  //margin-top: 0.5rem;
  margin-left: -0.5rem; // or reduce toolbar svg margin-right but side-effects
  display: block;
  vertical-align: text-bottom;
  overflow-x: auto;
  //transition: opacity 0.2s;// ease-in-out;
  .label {
    color: $gSecondary;
    margin-right: .5rem;
    padding-left: 0;
  }

}

.userRef {
  background-color: $gSecondary;
  //border: 1px solid $gThird;
  color: $gBorder;
  padding: .2rem .5rem .2rem .25rem;
  border-radius: 4px;
  margin-right: .25rem;
  transition: color 0.2s;
  &:hover {
    color: darken($gBlue, 15%);
  }
}