.whatsNew {
  border-radius: 1rem;
  background-color: $gOrange; // rgba(150,150,150,0.6); // #f0592b;
  color: white;
  padding: 0.1rem 0.1rem 0.25rem 0.22rem;
  vertical-align: text-top;
  cursor: pointer;
  margin-right: 1rem;
}

.eventPopupTrig {
  border-radius: 1rem;
  color: white;
  padding: 0.1rem 0.5rem 0.25rem 0.5rem;
  vertical-align: text-top;
  margin-right: 1rem;
}

.cardEventBadge {
  border-radius: 10px;
  color: white;
  background-color: $gOrange;
  padding: 0.15rem 0.5rem 0.20rem 0.5rem;
  vertical-align: text-top;
  opacity: 0.9;
}

.ui.modal.eventDetails {
  left: 45% !important;

}
.eventDetails {
  overflow-y: auto;
  position: fixed;
  top: 3rem;
  right: 6rem;
  max-height: 95%;
  padding: 1rem;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  border-radius: $cardRadius;
  text-align: left;
  z-index:$modalZ;
  background-color: $jSideBG;
  color: $gForeground;
  .summary {
    color: $gSecondary;
    svg {
      margin-bottom: -0.2rem;
    }
    div {
      margin-bottom: 0.5rem;
    }
    .count {
      margin-left: .5rem;
    }
    .actions {
      margin-top: 1rem;
      button {
        min-width: 46%;
        margin-right: 1rem;
        &:hover {
          background-color: lighten($gWorkBackground, 15%) !important;
        }
      }
    }
  }
  .menu {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  .menuHdr {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }
  .event {
    padding: 0.5rem !important;
    //border-bottom: 1px solid $gBorder;
    transition: background-color 0.1s;
    &.new {
      background: $gNewEvent;
    }
    &.old {

    }
    .member {
      display: inline-block;
      //float: left;
      margin-right: 0.2rem;
      margin-bottom: 0rem !important; // semantic
      width: 2.4rem;
      height: 2.4rem;
      background-size: cover;
      border-radius: 50%;
    }
    .cThumb {
      //float: right;
      //border: 2px solid $gBlue;
      border-radius: 4px;
      background-size: cover;
      width: 2.4rem;
      height: 2.4rem;
      margin-left: .5rem;
      margin-right: .5rem;
      //box-shadow: 0 0 10px rgba(50,50,50,0.25)

    }
    .msg {
      display: inline-block;
      margin-left: 0.5rem;
      font-size: 1rem;
      max-width: 80%;
      color: $gForeground;
      .userLink {
        color: $gForeground;
        font-weight: bold
      }
      .date {
        margin-top: 0.3rem;
        //font-size: 0.85rem;
      }
    }
    .eventIcon {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 0.1rem;
    }
    .eventReactionIcon {
      margin-bottom: -0.5rem;
    }
    &:hover {
      //background-color: rgba(150, 242, 255, 0.3);
    }
  }
}

// all !importants are semantic overrides
.actHdr {
  font-size: 1.25rem;
  margin: 0 0.5rem 1rem 2rem !important;
  min-width: 10rem;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: $gWorkBackground !important;
  color: $gSecondary !important;
  //border: 1px solid $gSecondary !important;
  a {
    color: $gSecondary !important;
  }
  &.sel {
    border: 1px solid $gSecondary !important;
  }
}
.listHdr {
  font-size: 1.25rem;
  //margin: 0 0.5rem 1rem 0.5rem;
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: $gWorkBackground;
  color: $gSecondary;
  .hdrOption {
    margin-left: 2rem;

  }
}

.actUser {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.activityDashboard {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 1rem 0 1rem ;
  background-color: $gWorkBackground;
  box-sizing: border-box;
  vertical-align: top;

  .actTileGroup {
    display: inline-block;
    width: 49%;
    margin: 0 0.5rem 0.5rem 0;
  }
  .activityTile {
    position: relative;
    vertical-align: top;
    overflow: hidden;
    background-color: $gModalBG;
    color: $gForeground;
    border: 1px solid $gModalBorder;
    border-radius: 5px;
    padding: 1rem;
    display: inline-block;
    width: 50%;
    min-width: 200px;
    margin: 0 0.5rem 0.5rem 0;
    transition: left 0.15s, top 0.15s;
    &.row1 {
      height: 15.5rem;
    }
    &.row2 {
      height: 15.5rem;
    }
    &.row3 {
      height: 18rem;
    }
    &.row2Dbl {
      height: 33.5rem; // 15 + 18 + 0.5 margin
    }
    &.flex {
      min-height: 16rem;
    }
    h3 {
      font-size: 1.1rem;
      border-bottom: 1px solid $gBorder;
    }
    .actBody {
      width: 100%;
      height: 80%;
      color: $gForeground;
      overflow-y: scroll;
      .noData {
        //margin-top: 30%;
        color: $gThird;
        font-size: .9rem;
      }
      .statBox {
        //margin-bottom: 2rem;
        .statHdr {
          font-size: 1.1rem;
          margin-bottom: 0.3rem;
        }
        .statUser {
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
      }
      .stat {
        .label {
          min-width: 55%;
          display: inline-block;
          color: $gThird;
          font-size: 0.9rem;
        }
        .value {
          display: inline-block;
        }
        .rank {
          font-size: 1.5rem;
          margin: 0 1rem 0 0;
        }
        .actCmt {
          color: $gForeground;
          vertical-align: top;
          margin-top: 0.5rem;
          text-wrap: normal;
          max-width: 70%;
        }
        .rankedUser {
          vertical-align: top;
          .userImg {
            margin: 0.5rem 0.5rem -0.5rem 0;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            &.smaller {
              width: 3rem;
              height: 3rem;
            }
          }
          .name {
            font-size: 1.2rem;
            margin-right: 1rem;
            min-width: 24%;
            display: inline-block;
          }
          .count {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }

      }

      .inlineCard {
        display: inline-block;
        .field {
          color: $gForeground;
          margin-top: -2rem;
          margin-left: 0.25rem;
        }
        .vote {
          color: $gForeground;
          margin-top: -1.75rem; // subtract from actCard marginBottom of 2
          margin-bottom: 1rem;
          .user {
            margin-right: 0.5rem;
            img {
              width: 1.75rem;
              height: 1.75rem;
              border-radius: 50%;
            }
          }
          .icon {
            display: inline-block;
            margin-top: -3px;
            color: $gSecondary;
          }
        }
      }
      .actCard {
        overflow: visible;
        position: relative;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        margin: 0 1rem 2rem 0;
        border: 1px solid $gBorder;
        font-size: 1rem;
        border-radius: 10px;
        .thumb {
          overflow:hidden;
          background-size: cover;
          border-radius: 10px;
          height: 100%;
          transition: filter 0.2s;
          &:hover {
            // filter: brightness(1.1);
          }
        }
        .user {
          // filter: saturate(0.4);
          transition: filter 0.2s;
          position: absolute;
          bottom: -1rem;
          right: -1rem;
          img {
            box-shadow: 0 0 15px rgba(50,50,50,0.3);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
          }
        }
        &.smaller {
          width: 3rem;
          height: 3rem;
          margin: 0.5rem 0.5rem 0.5rem 0;
        }
      }
      &:hover {
        .user {
          // filter: saturate(1);
        }
      }

    }
    &:hover {
      //box-shadow: 0 0 10px rgba(50, 50, 50, 0.15);
      .hidden {
        opacity: 1
      }
    }
  }
}
.cardPopup {
  h3 {
    color: $gForeground;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
  }
  .fieldName {
    font-size: 1rem;
    font-weight: bolder;
    color: $gForeground;
  }
  .cardImg {
    margin: 0.5rem 0 0.5rem 0;
    max-height: 6rem;
    max-width: 100%;
    border-radius: 5px;
  }
  .userImg {
    margin: 0.5rem 0.5rem -0.5rem 0;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
  }
  .icon {
    display: inline-block;
    margin: 0 0.2rem -3px 0;
  }

}

.dumbBadge, .dumbCapsule {
  display: inline-block;
  text-align: center;
  height: 22px;
  //width: 22px;
  line-height: 22px;
  @extend .small;
  @extend .vaTop;
  background-color: $jRed; // $jPink;
  color: white;
  //padding: 0.1em 0.25em .5em .25em;
  box-shadow: 0 0 10px rgba(240, 63, 176, 0.3); // gOrange
}

.dumbBadge {
  border-radius: 50%;
  width: 22px;
}

.dumbCapsule {
  border-radius: 10px;
  padding: 0 7px;
}