html, body, div[data-reactroot]:not(.small) {  // , div[data-reactroot], .row, .column, .content, .title, .container, .ui, .base_layout, .site, #__next
  //font-family: 'Open Sans', sans-serif !important; // semantic override
  font-family: 'Nunito Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size: 14px;
  height: 100%;
  width: 100%;
  //scroll-behavior: smooth
}

// safari
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}


// Global Colors

// Foregrounds
$gForeground: $jFG; // #ccc;
$gSecondary: $jSec; // #aaa;
$gThird: $jThird; // #888;
$gFourth: #5e5e5e;

// Backgrounds
$gBackground: #111;
$gBackgroundHover: #444;
$gInputBG: #202020; // $jInputBG;
$gInputBorder: #555;
$gAPcolor: $jBlue;

$gToolPaneBackground: #333;
$gToolAuxBackground: #333;
$gWorkBackground: #333;
$gFrameBackground: #000;
$gSecondaryBackground: #444;
$gStatsBackground: #111;

$gPlaceholder: #333;
$gEmptyImgBack: #555;
$gDiscussBG: white;
$gDiscussHdrBG: $jSideBG;

$gNoteBG: #cfd489;
$gNoteFG: #444;

$gModalBG: $jSideBG;
$gModalBorder: #555;
$gPopupBG: rgba(48,48,48,0.9);

// Borders
$gBorder: #404040;
$gBorderInv: #cfcfcf;
$gFloatPaneBorder: #444;
$gSecondaryToolsBackground: #333;
$gBorderSemantic: #555;

// Cards
$cardspaneBackground: $jMidBG; // #181818; // url(/static/img/tile/wood.png) repeat; //
//$cardspaneBackground: url(/static/img/pattern1.png) repeat; //#111;
//$cardspaneBackground: #111; // url(/static/img/pattern1.png) repeat; //#111;

$cardFG: #aaa;
$cardBG: $jSideBG;
$cardBGinv: white;
$cardFGinv: $jFGinverted;


$cardSectionBG: #222; // #282828;
$cardBorder: #383838;

// Highlights
$gBlue: $jBlue; // #29a3ff;
$gRed: #c80000;
$gOrange: $jPink; // #de603a;
$gMagenta: #8667a6;
$gGreen: #1da45b;
$gHelpText: $jBlue; // #2185d0;
$gEditColor: $gOrange;
$gHighlightColor: $jBlue; // #55aace;
$gNewItemColor: #89888d;
$gFlashColor: $gHighlightColor;
$gNewEvent: rgba(131, 234, 251, 0.2); // #80e8f926;
$gTextSelectionColor: lighten($gHighlightColor, 25%);
$gDropzone: rgba(34, 171, 227, 0.5);

  // Dark Pane Colors
//$gDarkBackground: #8d8888; original
$mDarkBackground: rgb(67, 68, 69);
$gSlideBackground: rgba(40,41,42,0.85);
$gDarkBackground: #333;
$gDarkBorder: $gBorder;
$gDarkSecondary: $gSecondary;
$mSecondary: #f0f0f0;
$gDarkThird: $gThird;
$gDarkForeground: $gForeground;
$gDarkIconForeground: $gDarkSecondary;
$gDarkBackgroundActive: darken($gDarkBackground, 5%);
$gActiveBG: #47c1f1c9;

$gHoverlayBG: $gWorkBackground;
$gHoverlayFG: $gSecondary;

$gDarkStripFG: #d4d4d4;

// System Status Messages
$gStatusForeground: $gSecondary;
$gStatusBackground: #333;

// 3rd party integrations
$gDropbox: #0065fc;

$gShadow: 0 0 30px rgba(20,20,20,0.4);

// other values
$boxRadius: 5px;
$cardRadius: 10px;
$inputRadius: 2rem;
.boxRadius { border-radius: $boxRadius}
.cardRadius { border-radius: $cardRadius}

$modalZ: 9007199254740991; // Number.MAX_SAFE_INTEGER
$leftPaneIconSize: 28px;

// color shortcuts
.fg {
  color: $gForeground;
}
.bg {
  background-color: $gBackground;
}
.navBG {
  background-color: #3a3938;
}

.cardBG {
  background-color: $cardBG;
}
.cardBGinv {
  background-color: $cardBGinv !important;
}
.cardFGinv {
  color: $cardFGinv !important;
}
.white { color: white }


.secondary {
  color: $gSecondary;
}
.darkSecondary {
  color: $gDarkSecondary; // darken($gForeground, 10%);
}
.mSecondary {
  color: $mSecondary !important;
}

.third {
  color: $gThird;
}
.darkThird {
  color: $gDarkThird;
}
.fourth {
  color: $gFourth;
}

.darkBack {
  background-color: $gDarkBackground;
}
.discussBG {
  background-color: $gDiscussBG;
}

.highlight {
  color: $gHighlightColor
}
.orange {
  color: $gOrange
}
.red {
  color: $gRed
}
.blue {
  color: $gBlue
}
.green {
  color: $gGreen
}
.black {
  color: #111
}
.drop {
  background: $gDropzone;
}
.newMsgBG {
  background-color: $gOrange;
}

.inactive {
  transition: opacity 250ms ease-in-out;
  opacity: .2;
}

/*
.statsBG {
  background-color: $gStatsBackground;
}
*/
.newCardBG {
  background-color: $gMagenta;
}
.cover, .coverBG {
  background-size: cover;
}

.link {
  color: $gBlue;
  cursor: pointer;
}
.flush {
  padding: 0 !important;
}

.animPos {
  transition: left 0.2s, top 0.2s;
}
.animBG {
  transition: background-color .2s ease-out;
}
.animOpacity {
  transition: opacity .2s ease-out;
}

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.zModal { z-index: $modalZ }

// general behavior
.clipCircle {
  clip-path: circle(50%);
}

.clear {
  clear:both; // look into flexbox
}
/*
.displayOnHover, .doh {
  opacity: 0;
  //transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}
*/

.highlightOnHover, .hoh {
  transition: 150ms;
  &:hover {
    color: $jBlue; //HighlightColor
  }
}
.hbgoh { // highlight BG on hover
  &:hover {
    background-color: lighten($gPopupBG, 10%);
    color: $jFGinverted;
  }
}


.uoh {
  &:hover {
    text-decoration: underline;
  }
}
.roh {
  transition: 150ms;
  &:hover {
    color: $jRed;
  }
}

.brightenOnHover, .boh {
  transition: filter 0.2s ease-out;
  &:hover {
    filter: brightness(1.3);
  }
}

.lhoh {
  opacity: .8;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

// Note: You can add this to the :hover of a parent component for a larger hover coverage. The hover here is just to keep it visible once activated
.showonh {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

// Note: You can add this to the :hover of a parent component for a larger hover coverage. The hover here is just to keep it visible once activated
.doh {
  display: none;
  &:hover {
    display: inline-block;
  }
}

div[contenteditable] {
  cursor: pointer;
  &:hover {
    color: $gHighlightColor
  }
  &.active {
    padding: 2px 0 2px 4px;
    border: 1px solid $gBorderSemantic
  }
}

.dontWrap, .noWrap, .nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rotate90cw {
  transform: rotate(90deg)
}
.flipHoriz {
  transform: scaleX(-1);
}

// general styles

h1, h2, h3, h4, h5 {
  //color: $gForeground;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
}

h2 {
  font-size: 1.4rem !important;
}
h3 {
  line-height: 2rem;
}
h4{
  font-size: 1rem;
}
.thinH {
  font-weight: normal !important;
}
.thinH2 {
  font-weight: normal !important;
  font-size: 1.2rem !important;
  line-height: 1.5rem;
  //color: $gForeground;
}
.thinH3 {
  font-weight: lighter !important;
  font-size: 1rem !important;
  line-height: 1.4rem;
  //color: $gForeground;
}

.round {
  border-radius: 50%;
}
.capsule {
  border-radius: 20px;
}
.large {
  font-size: 1.2rem;
}
.small {
  font-size: 1rem;
}
.tiny {
  font-size: .9rem!important; // semantic
}
.micro {
  font-size: .8rem;
}
.abs {
  position: absolute;
}
.absFull {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.vaTop {
  vertical-align: top;
}
.disabled {
  color: $gSecondary;
}
.readOnly {
  pointer-events: none;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.flex {
  display: flex;
}
.italic {
  font-style: italic;
}


.mt2 {
  margin-top: 2rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt05 {
  margin-top: .5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb05 {
  margin-bottom: .5rem;
}
.mt125 {
  margin-top: 1.25rem;
}
.mr1 {
  margin-right: 1rem !important; // semantic
}
.ml1 {
  margin-left: 1rem !important; // semantic
}
.ml05 {
  margin-left: .5rem !important; // semantic
}
.mr05 {
  margin-right: .5rem !important; // semantic
}

.pad1 {
  padding: 1rem;
}
.pad03 {
  padding: .3rem;
}
.pad0 {
  padding: 0 !important; // semantic
}
.fullW {
  width: 100%;
}
.fullH {
  height: 100%;
}
.bbox {
  box-sizing: border-box;
}

.darkOutline {
  border: $gDarkBorder;
}
.pointer {
  cursor: pointer;
}
.pencil {
}
.centered {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.absTopRight {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.badgeUpTR {
  top: -0.7rem !important;
  right: -0.5rem !important;
}
.subtleShadow {
  box-shadow: 0 0 10px rgba(80,80,80,0.2);
}
.strongShadow {
  box-shadow: 0 0 20px rgba(0,0,0,1);
}

.bottomShadow {
  box-shadow: 0 5px 6px -4px rgba(80,80,80,0.1) !important;
}

.textOverPic {
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  font-weight: bold;
}

.borderless {
  border: 0;
}
.borderAll {
  border: 1px solid $gBorder;
}
.borderAllInv {
  border: 1px solid $gBorderInv;
}
.borderL {
  border-left: 1px solid $gBorder;
}
.borderR {
  border-right: 1px solid $gBorder;
}
.borderB {
  border-bottom: 1px solid $gBorder;
}

.spacer {
  min-height: 1rem;
}
.bold, .heavy {
  font-weight: 600;
}
.light, .lighter {
  font-weight: 300;
}
.hidden, .hiddenAnimReady {
  opacity: 0;
  //transition: opacity 0.2s;
}

svg {
  transition: stroke 0.4s;
  path {
    transition: color 0.4s;
  }
  display: inline-block;
}

svg.dark {
  stroke: $gDarkThird;
  rect, circle, line, polyline {
    stroke: $gDarkThird;
  }
  path {
    stroke: $gDarkThird;
    color: $gDarkThird;
  }
}

/*
svg:hover {
  cursor: pointer;
  stroke: $gHighlightColor;
  rect, circle, line, polyline {
    stroke: $gHighlightColor;
  }
  path {
    stroke: $gHighlightColor;
    color: $gHighlightColor;
  }
}
*/

.subtleBtn {
  color: $gSecondary;
  &.svg {
    stroke-width: 1;
    &:hover {
      stroke-width: 2;
    }
  }
  &:hover, &.selected {
    color: $gForeground !important;
    background-color: $gBackgroundHover;
  }
}

i.icon {
  cursor: pointer;
  transition: color 0.4s, transform 0.1s;
}

i.icon.cardIcon {
  //position: absolute;
  line-height: 0.9;
  font-size: 2rem;
  display: inline-block;
}

i.icon:not(.square):hover {
  color: $gForeground; // $gHighlightColor;
}
/*
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}*/


.button {
  cursor: pointer;
  padding: .7rem 1.5rem;
  color: white !important; // semantic override
  background-color: $gSecondaryBackground;
  //border-radius: $boxRadius;
  border-radius: 2rem;
  border: 0;
  margin: .5rem;
  min-width: 5rem;
  transition: all 0.3s;
  &.go {
    background-color: $gBlue;
  }
  &.stop {
    background-color: $gRed;
  }
  &.pink {
    background-color: $jPink;
    //padding: .5rem 1rem;
  }
  &.neutral {
    background-color: $gFourth;
  }
    &:hover, &.go:hover, &.stop:hover {
    opacity: 0.8;
  }
  &.disabled {
    background-color: $gSecondaryBackground !important; // semantic override
    //opacity: .5 !important; // semantic override
    color: $gSecondary !important;
  }
}

.secondaryButton {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  color: $gForeground;
  background-color: $gSecondaryBackground;
  border-radius: 0;
  border: 1px solid $gBorderSemantic;
  //margin: .5rem;
  min-width: 7rem;
  transition: all 0.3s;
}

// underlined capsule
.ulc.sel {
  border: 2px solid white;
}

// osemantic overrides
body {
  background: $jMidBG !important; // linear-gradient($gWorkBackground, $gBackground 30%, $gBackground) !important;
}
textarea, button, input, div, span, .item, .ui, .ui.form, .grid, .menu, .item, .link, .header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}
.ui.grid {
  margin: 0;
  flex-grow: 1!important;
  min-height:0!important;
}
input {
  color: $gForeground;
  background: $gInputBG;
  border: none; // 1px solid $gInputBorder !important;
  border-radius: $inputRadius !important;
  padding: .5rem 1rem;
  //min-width: 16rem;
  &::selection {
    background: $gTextSelectionColor !important;
  }
}

.ui.input {
  color: $gForeground !important;
  background-color: $gInputBG !important;
  border: none; // !important; // 1px solid $gInputBorder;
  border-radius: $inputRadius;
  input {
    color: $gForeground !important;
  }

}

.ui.toggle.checkbox label, .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  color: $jFG;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background-color: $jItemBG !important;
}
.ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
  background-color: $jFG !important;
}


// for all modals, all importants are semantic as usual
.form {
  label {
    color: $gSecondary !important;
  }
  input {
    background-color: $gInputBG  !important;
    font-weight: 300 !important;
  }
}

.dimmer {
  background: rgba(90,90,90, 0.5) !important;
}
.ui.card, .ui.cards>.card {
  //border: 1px solid $gBorder !important;
  //box-shadow: unset !important;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
  //border-radius: 5px 0 !important;
}

.popup {
  z-index: 2 !important;
  background-color: $jHoverlayBG !important;
  color: $jFG !important;
  border: 1px solid $gModalBorder;
  box-shadow: $gShadow;
  &:before {
    display: none;
    //background: $gModalBG !important;
    //border-top: 1px solid $gModalBorder !important;
    //border-left: 1px solid $gModalBorder !important;
    //box-shadow: unset !important;
    //top: -0.4rem !important;
  }
}
.ui.popup {
  border: 1px solid $gModalBorder !important;
}

.segment {
  background-color: $gModalBG !important;
}

.column {
  margin: 0;
  transition: width 0.15s, left 0.15s;
}
.ui.styled.accordion, .ui.styled.accordion .accordion {
  border: none !important;
  box-shadow: 0 0 0 0 $gDarkBackground !important;
  @extend .darkFraming;
}
.ui.header, .ui.accordion .title {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
  border: none !important;
  box-shadow: none !important;
}
.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
  padding: .4em 0 .3em .5em;
  border: none !important;
  box-shadow: none !important;
}
.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
  background: none;
}

.ui.fluid.search .results {
  @media screen and (min-width: 700px) {
    width: 200%;
  }
  @media screen and (max-width: 699px) {
    width: 100%;
  }
}
.ui.menu {
  color: $gForeground !important;
  background: none !important;
  background-color: none !important;
}
.ui.menu .item {
  font-size: .95rem;
  font-weight: 300;
  //margin: 0.5rem !important;
  color: $gForeground !important;
  background: none !important;
  background-color: none !important;
}
.hioh .item:not(.hdr) { // highlight item on hover
  &:hover {
    background-color: $gThird !important;
    color: $gWorkBackground !important;
  }
}


.ui.menu .active.item {
  background-color: $jItemBG !important;
  border-radius: $boxRadius !important;
}
.ui.menu .item:before {
  background: none !important
}
.ui.checkbox label {
  font-size: .95rem;
}

.ui.top.attached.menu>.item:first-child {
  padding-left: 0 !important;
}
.accordion {
  text-align: left !important;
  .title {
    font-weight: lighter !important;
    font-size: 1rem !important;
    padding-bottom: 0 !important;
    //color: $gSecondary !important;
  }
}
.menu {
  .item {
    .gutter {
      float: left;
      margin-right: 0.5rem;
      min-width: 1rem !important;
      display: inline-block;
    }
    .sub {
      .menu { min-width: 14rem !important }
      .item {
        //padding-left: 0 !important;
        //margin-left: 0 !important;
      }
    }
  }
}
.ui.thin.left.sidebar, .ui.thin.right.sidebar {
  width: 55% !important;
}
.ui.attached.menu:not(.tabular) {
  border: none;
}
@media only screen and (max-width: 767px) {
  .ui.container.tool-pane {
    width: 100% !important;
    margin-left: 0!important;
    margin-right: 0!important;
  }

}
.ui.celled.grid, .ui.celled.grid>.row, .ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column {
  box-shadow: none !important;
  padding-right: 0 !important;
}

.ui.table {
  border: none !important;
  thead th {
    background: none !important;
  }
}
.ui.progress {
  border: 1px solid $gBorder !important;
  color: $gSecondary  !important;
  .label {
    color: $gSecondary  !important;
  }

}

.ui.dropdown .menu, .ui.dropdown .menu>.item {
  background: $gModalBG !important;
  color: $gForeground !important;
}
.ui.dropdown .menu {
  border: 1px solid $gModalBorder !important;
  &::after {
    background: $gModalBG !important;
    border-top: 1px solid $gModalBorder !important;
    border-left: 1px solid $gModalBorder !important;
  }
}
.ui.pointing.dropdown>.menu:after {
  background: $gModalBG !important;
  border-top: 1px solid $gModalBorder !important;
  border-left: 1px solid $gModalBorder !important;
}

// end semantic

.notif {
  color: $gSecondary;
  //background-color: #c6edfa;
  .icon {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    color: $gForeground;
    display: inline-block;
  }
  .body {
    display: inline-block;
  }
}
.notifProgress {
  background: linear-gradient(to right, #5ac8fa, #34aadc, #007aff)
}

// tags used in all views
.tags {
  overflow-y: auto;
  border-radius: 3px;
  font-size: 0.9rem;
  .tag {
    cursor: pointer;
    color: $gThird;
    margin-bottom: 0.2rem;
    transition: filter 0.3s;
    .rowHoverActions {
      cursor: pointer;
      opacity: 0;
      //transition: opacity 0.3s;
    }
    &:hover {
      //-webkit-// filter: brightness(1.1);
      // filter: brightness(1.1);
      background-color:   $gDarkBackgroundActive;
      .rowHoverActions {
        opacity: 1;
      }
    }
  }
}

// react-color customization
.sketch-picker {
  div.flexbox-fix:nth-child(3) {
    display: none !important;
  }
}

// mobile scroll
@media only screen and (max-width: 768px) {
  .scrollLocked {
    overflow:hidden;
  }

  .momentumScroll {
    -webkit-overflow-scrolling: touch;
  }
}

// hidden & subtle scrollbars
.hidden-scroll, .hidden-scroll-light {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.subtle-scroll-dark {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid $gBorder !important;
    //border-radius: 0 !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #444 !important; //$gWorkBackground;
    border: 1px solid $gBorder !important;
    //border-radius: 0 !important;
  }
}

.subtle-scroll-dark {
  &::-webkit-scrollbar {
    //width: 1.1rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid $gDarkBorder;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid $gDarkBorder;
    border-radius: 5px;
  }
}


.profileMenu {
  .item {
    margin: 0 !important; // semantic
    cursor: pointer;
    svg {
      margin: 0 1.3rem -0.25rem 0.25rem;
    }
  }
  .textOnly {
    margin-left: 2.7rem !important;
  }
  .user {
    position: relative;
    .userImage {
      width: 2rem;
      height: 2rem;
      margin-bottom: -0.5rem; // for text align
      //border-radius: 6px;
      background-size: contain;
      display: inline-block;
    }
    .name {
      color: $gSecondary;
      margin-left: 1rem;

    }
    .imageTrigger {
      position: absolute;
      top: 37%;
      left: 25%;
      opacity: 0;
      //transition: opacity 0.3s;
    }
    &:hover {
      .imageTrigger {
        opacity: 1;
      }
    }
  }
  .integrations {
    i.icon {
      display: inline-block;
      width: 2rem;
    }
    .label {
      display: inline-block;
      margin-left: 0.75rem;
    }
    .disconnect {
      display: none;
    }
    &:hover {
      .disconnect {
        display: inline-block;
      }
    }
  }
}


.systemStatus {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  text-align: center;
  div {
    max-width: 55%;
    height: 90%;
    margin: auto;
    padding-top: 8px;
    color: white;
    box-shadow: 0 0 4px rgba(50,50,50,.1);
    &.normal { color: $gForeground; background-color: $gStatusBackground; }
    &.warning { color: $gForeground; background-color: #ede98c; }
    &.error { color: white; background-color: #ed6562; }
    .msg {
      margin-left: 0.5rem;
    }
    .icon {
      float: left;
    }
    .close {
      float: right;
      margin-right: 1rem;
      margin-top: -2px;
    }
  }
}

.inlineHint {
  position: relative;
  background-color: $gStatusBackground;
  box-shadow: 0 0 4px rgba(50,50,50,.1);
  font-size: 1rem;
  padding: 0.7rem;
  max-width: 90%;
  border-radius: 5px;

  .title {
    color: $gForeground;
    margin-bottom: 0.5rem !important; // semantic
    padding: 0 !important; // semantic
  }
  .body {
    font-size: 0.9rem;
    color: $gSecondary;
    line-height: 1.2rem;
  }
  .actions {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    span {
      color: $gSecondary;
      font-size: 0.8rem;
      font-style: italic;
      vertical-align: super;
      margin-right: 1rem;
    }
  }
  &.side {
    background-color: lighten($gDarkBackground, 15%);
    max-width: 100%;
  }
}

.devPane {
  background-color: $mDarkBackground;
  color: white;
  position: absolute;
  top: 10rem;
  left: 10rem;
  padding: 1rem;
  width: 74%;
  box-shadow: 0 0 20px rgba(50,50,50,0.5);
  z-index: 100;
}

.bnl { // back nav label
  vertical-align: top;
  margin: 0.25rem;
  display: inline-block;
}

// color swatch
.swatch {
  border-radius: 3px;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  transition: background-color 0.2s;
}

.roundIcon, .roundIconBdr {
  border-radius: 50%;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  background-color: $cardBG; // rgba(50,50,50,0.75);
}

.roundIcon {
  padding: .25rem;
}

.roundIconBdr {
  border: 2px solid white;
}

.errorPage {
  display: block;
  background-color: $jMidBG;
  color: $jFG;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2rem 1% 10% 2rem;
}