/**
 * Import modal styles
 */
.import-modal {
  //margin-top: 1rem !important;
  .upload-box, .card-import-box, .web-import-box, .dropbox-import-box, .pinterest-import-box {
    width: 98%;
    height: 90%;
    min-height: 300px;
    color: $gSecondary;
  }
  .tab-description {
    color: $gSecondary;
    font-size: 1.3rem;
    //font-style: italic;
    line-height: 1.7rem;
    margin-bottom: .5rem;
  }
  .center-msg {
    text-align: center;
    margin: 5% auto;
    color: $gSecondary;
    font-size: 1.5rem;
    //font-style: italic;
  }

  // this block to support scrolling with % height (non-px)
  .content:not(.default) {
    height: 100%;
    .tab-aux {
      height: 100%;
      .ui.menu {
        //border: none !important;
        box-shadow: none !important;
        .item {
          color: $gSecondary;
          font-size: .9rem;
          &.active {
            //background-color: white !important;
            border: 1px solid rgba(120,120,120,0.5) !important;
            border-radius: 5px;
          }
        }
      }
      .active.tab {
        height: 98% !important; // override semantic
        .tabWrap {
          height: 100%;
          .dimmable {
            height: 100%;
            .scroller {
              height: 90%;
              overflow-y: auto
            }
          }
        }
      }
    }
  }
  // File Uploads:
  .upload-box {
    border: 5px dashed $gBorder;
    text-align: center;
    vertical-align: middle;
    background-color: $gWorkBackground;
    width: 100%;

    .drag-here {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: 10%;
      //color: $gSecondary;
    }
    .browse-files {
      font-size: 2rem;
      margin: auto;
      //color: $gSecondary;
      .browse-input {
        background-color: $gBlue;
        color: white;
        font-size: 1rem;
        line-height: 4rem;
        width: 15rem;
        //margin-left: 2rem;
      }
    }
  }

  // Card Imports
  .card-import-box {
    //height: 100; // TODO can we make it window percentage
    .browse-cards {
      padding: 10px;
      width: 100%;
      min-height: 300px;
      //float: left;
      display: inline-block;
      border: 1px solid $gBorder;
      background-color: $gWorkBackground;
    }
  }
  .sel-card-count {
    display: inline-block;
    margin-top: -15px;
  }

  // Web URL import
  .web-import-box {
    max-height: 60vh; // TODO can we make it window percentage
    .field {
      width: 95%;
      display: inline-block;
    }
    i.icon {
      color: $gThird;
      margin-left: 1rem;
    }

    .browse-page-assets {
      overflow-y: auto;
      width: 100%;
      height: 55vh;
      min-height: 300px;
      float: left;
      border: 1px solid $gBorder;
      background-color: $gWorkBackground;
      padding: 1rem;
      .itemCount {
        color: $gSecondary;
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
  }

  .pinterest-import-box {
    border: 1px solid $gBorder;
    background-color: $gWorkBackground;
  }

  .dropbox-import-box {
      overflow-y: auto;
      overflow-x: hidden;
      text-overflow: ellipsis;
      .currDir {
        margin: 0 0 0.5rem 0;
        padding: 0.3rem 1rem;
        border: 1px solid $gBorder;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        line-height: 2rem;
        &:hover {
          color: $gHighlightColor;
        }
      }
      .browse-files {
        padding: 10px;
        width: 100%;
        min-height: 80%;
        display: inline-block;
        border: 1px solid $gBorder;
        background-color: $gWorkBackground;
        .folder  {
          float: left;
          cursor: pointer;
          color: $gSecondary;
          overflow: hidden;
          margin: 0 1.1rem 1.1rem 0;
          transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
          svg {
            display: inline-block;
            margin-right: 0.5rem;
            margin-bottom: -4px;
          }
          .ctitle {
            display: inline;
            margin-left: 0.5rem;
            font-size: 0.9rem;
            font-weight: normal;
            background-color: rgba(255,255,255,1);
          }
          &:hover {
            color: $gHighlightColor;
          }
        }
        // override some LeCard defaults
        .preview {
          .thinH2 {
            font-size: 0.9rem;
          }
        }
      }

  }

}