// Colors
$jPink: #DB5197;
$jPinkLight: #F274B4;
$jYellow: #FAB900;
$jBlue: #47C1F1;
$jRed: #E9504E;

$jUpvote: #0BE1B1;
$jDownvote: #ED366A;

$chUpvote: #6599BA;
$chDownvote: #AABB64;

.jPink {
  color: $jPink!important;
}
.jPinkBG {
  background-color: $jPink!important;
}
.jPinkSecBG {
  transition: background-color 200ms;
  background-color: darken($jPink, 7%);
}
.jRedBG {
  background-color: $jRed!important;
}
.jRedSecBG {
  transition: background-color 200ms;
  background-color: darken($jRed, 7%);
}

.jBlue {
  color: $jBlue;
}
.jBlueBG {
  background-color: $jBlue;
}
.jBlueSecBG {
  transition: background-color 200ms;
  background-color: darken($jBlue, 7%);
}
.jYellowBG {
  background-color: $jYellow;
}

.jVoteBG {
  background-color: #c0c0c0;
}
.jUpvote {
  color: $chUpvote;
}
.jDownvote {
  color: $chDownvote;
}
.jUpvoteBG {
  background-color: $chUpvote;
}
.jDownvoteBG {
  background-color: $chDownvote;
}
.jUpvoteBGOH {
  background-color: $chUpvote;
  opacity: .4;
  &:hover {
    opacity: 1;
  }
}
.jDownvoteBGOH {
  background-color: $chDownvote;
  opacity: .4;
  &:hover {
    opacity: 1;
  }
}

// Backgrounds
// global
$jItemBG: #343C46;
$jSectionBG: $jItemBG;
$jHoverlayBG: rgba(0,0,0, 0.8);
.jItemBG, .jSctnBG {
  background-color: $jItemBG;
}
.jIconBG {
  background-color: #54595d;
}

// left and right side panes
$jSideBG: #20222B;
$jSideHdrBG: $jItemBG;

.jSideBG {
  background-color: $jSideBG;
}


// main mid section
$jMidBG: #2B323A;
$jMidHdrBG: $jItemBG;

.jMidBG {
  background-color: $jMidBG!important;
}


// projects
$jProjBG: white;
$jProjFG: black;

// Foregrounds
$jFG: #D8D8D8;
$jSec: #b7b7b7;
$jThird: #929292;
$jFGinactive: #596472;
$jFGinverted: #323a44;
$jSecinverted: #999999;

.jFG {
  color: $jFG!important;
}
.jSec {
  color: $jSec!important;
}
.jThird {
  color: $jThird!important;
}
.jFourth {
  color: $jFGinactive!important;
}
.jFourthBG {
  background-color: $jFGinactive!important;
}
.jFGinv {
  color: $jFGinverted;
}
.jSecinv, .jSecInv {
  color: $jSecinverted !important;
}
.jBGinv {
  background-color: white;
}
.jMidBGinv {
  background-color: white;
}

// inputs
$jMsgBG: $jItemBG;
$jInputBG: $jItemBG;
$jInputFG: $jFG;
.jInputBG {
  background-color: $jInputBG!important;
}
$jInputBGInv: #c8c8c8;
$jInputFGInv: $jFGinverted;

$jDMBG: #F1F0F7;
$jDMFG: #999;



// Kerning
.kern1 {
  letter-spacing: 1px;
}

// text buttons
.jBtn {
  background-color: transparent;
  cursor: pointer;
  color: $jFG;
  border: 1px solid $jFGinactive;
  border-radius: 2rem;
  padding: .5rem 1rem;
  transition: all 0.2s;
  &:hover:not(.disabled){
    border: 1px solid $jFG;
  }
  &.selected {
    background-color: #383c40;
  }
}

.jBtnInv {
  background-color: $jSecinverted;
  cursor: pointer;
  color: white;
  border: none; // 1px solid $jSecinverted;
  border-radius: 2rem;
  padding: .3rem 1rem;
  transition: all 0.2s;
  &:hover:not(.disabled){
    background-color: $jFGinverted;
  }
  &.selected {
    background-color: #383c40;
  }
}

// icons
.jIcon {
  cursor: pointer;
  width: 2rem;
  &:hover, &.active {
    opacity: 1;
    filter:brightness(1.3);
  }
  &.inactive {
    opacity: .7
  }
}


// projects
.jProj {
  background-color: $jProjBG;
  //color: $jProjFG;
}