// NOTE: Every !important in here is exclusively to override semantic-ui's defaults.

// let's keep login bright
$gLoginFG: #333;
$gLoginBG: #fff;
$gLoginInputBG: #f0f0f0;
$gLoginBorder: #e2e2e2;

.loginDefaults { // all Osemantic
  color: $gLoginFG  !important;
  background-color: $gLoginBG !important;
  //border: 1px solid $gLoginBorder  !important;
  input, .input, .form.input {
    background-color: $gLoginInputBG !important;
    color: $gLoginFG !important;
    border: 1px solid $gLoginBorder !important;
  }
}
.landing {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  //background-position-y: 10%;
  //background-color: #1671d0;
  //background-color: #a4a4a4;

  .transparent {
    background-image: url(/static/img/jnBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    opacity: 0.9;
    //filter: blur(2px);
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .topBar {
    width: 100%;
    min-height: 50px;
    background-color: white; // rgba(255,255,255,0.4);
    box-shadow: 0 5px 16px -4px rgba(55,55,55,0.2) !important;
    //border: 1px solid $gBorderSemantic;
    padding: 1rem;
    .welcome {
      font-size: 1.5rem !important;
      color: $jFGinverted; // $gForeground;
      .wrangle {
        //color: black;
      }
    }
    .detail {
      margin-left: 1.5rem;
      font-size: 1.1rem;
      color: $jSecinverted ;
    }
  }

  .logo {
    width: 10%;
    opacity: 0.8;
    //margin-top: 5rem;
    //margin: auto;
  }

  .bottom {
    position: absolute;
    bottom: 0.7rem;
    color: white;
    font-size: 0.9rem;
    //opacity: 0.9;
    text-shadow: 0 0 10px rgba(0,0,0,1)
  }
  .credit {
    right: 0.7rem;
  }
  .legal {
    left: 0.7rem;
    a {
      color: white;
      margin-left: 1rem;
    }
  }
}

.loginWrap {
  padding-top: 10%;
  text-align: center;
  margin:auto;
  @media only screen and (max-width: 768px) {
    width: 90%;
  }
  @media only screen and (min-width: 769px) {
    width: 30%;
    min-width: 300px;
    max-width: 375px;
  }

}


.loginPage {
  margin: 2rem;
  text-align: center;
  color: $gLoginFG;
  background-color: $gLoginBG;
  width: 70%;
  max-width: 70%;
  .header {
    color: $gLoginFG !important;
    font-size: 1.5rem !important;
    //color: $gBackground !important;
  }

  .signupBox, .loginBox {
    color: $gLoginFG;
    margin:auto;
    text-align: center;

    .field {
      label {
        color: $gLoginFG !important;
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
      }
      input {
        background-color: $gLoginInputBG !important;
        color: $gLoginFG !important;
        border: 1px solid $gLoginBorder !important;
      }
    }
    .socialLogin {
      width: 100%;
    }
    .manualLogin {
      background-color: black !important;
    }

    .codeOuter {
      padding-top: 20%;
      text-align: center;
      margin-bottom: 3rem;
      .codeChar {
        font-size: 3rem;
        font-weight: 600;
        padding: 1rem;
        border: 1px solid $gBorderSemantic;
        border-radius: $cardRadius;
        margin: 1rem;
      }
    }
  }
  .panelSwitcher {
    color: $gLoginFG;
    margin-top: 1rem;
    font-size: 1.1rem;
    a {
      margin-left: 0.25rem;
      font-weight: bold;
    }
  }
}

.recoveryBody {
  margin: 1rem 0 2rem 0;

}

