.masonry-container{
  width: 99%;
  margin: auto;
  margin-left: -1rem;
  p{
    text-align: center;
    padding: 4px;
    font-family: monospace;
    background: #222;
    color: #efefef;
  }
}
.masonry{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
  margin: auto;
}
.column{
  @media only screen and (min-width: 768px) {
    width: 30%;
  }
  @media only screen and (max-width: 767px) {
    @media (orientation:landscape) {
      width: 30%;
    }
    @media screen and (orientation:portrait) {
      width: 49%;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-grow: 1;
}
.tile {
  transition: all 0.2s;
  margin: 2rem .7rem;
  position: relative;
  border-radius: $cardRadius;
  min-height: 210px;
  overflow: hidden;
  // james ghost layers
  /*
  &::before {
    content:'>><<';
    border-radius: $cardRadius;
    background-color: blue;
    width: 80%;
    top: 20px;

  }
  */

  .status {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $gForeground;
    background-color: $gBackground;
    padding: 1rem;
    opacity: 0.8;
    border-radius: 10px;
  }
  &.noImage {
    background-color: $gEmptyImgBack;
  }
  // Items from left pane dragged onto tile
  &.dropTarget {
    //box-shadow: 0 0 20px rgba(50,50,50,0.55);
    border-radius: $cardRadius; // 15
    //filter: brightness(0.4) !important;
  }
  &:hover {
    //filter: brightness(0.45) saturate(70%);
  }

  .coverImg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-top-left-radius: $cardRadius;
    border-top-right-radius: $cardRadius;
  }
  &.inactive {
    .img {
      opacity: 0.5;
      // filter: brightness(0.5) saturate(0.4);
    }
  }
}

.hoverlay {
  background-color: $jHoverlayBG;
  color: $jFG;
  @extend .absFull;
  @extend .small;
  padding: 1rem 1rem 0.8rem 1rem;
  opacity: 0;
  transition: opacity 200ms ease-out;
  cursor: pointer;
  border-radius: $cardRadius - 1;
  .topActions {
    display: block;
    margin-bottom: 0.5rem;
    .basic {
      padding: 0.5rem !important;
    }
  }
  .actions {
    position: absolute;
    top: 44%;
    text-align: center;
    margin-left: -1rem;
  }
  .bottomActions {
    position: absolute;
    bottom: 0.7rem;
    text-align: center;
    width: 90%;
  }
  &:hover {
    opacity: 1;
  }
  .popupTrigger {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
  }
  .title {
    font-size: 1rem;
  }
  .details {
    margin-top: 0.5rem;
    height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .author {
    float: left;
    //position: absolute;
    //bottom: 1rem;
    //left: 0.7rem;
    //margin-left: .5rem;
  }

  .members {
    position: absolute;
    bottom: 0.2rem; //.4rem;
    left: 0.7rem;
    margin-left: .5rem;
    max-width: 75%;
    .memberAvatar {
      margin-right: .5rem;
    }
    .invited {
      // filter: saturate(0.5);
    }
  }

  .events {
    position: absolute;
    right: 1rem;
    float: right;
    color: $gForeground;
    //position: absolute;
    //left: 1rem;
    //bottom: 3rem;
    font-size: 0.9rem;
    text-align: left;
    svg {
      margin-bottom: -0.2rem;
    }
    div {
      margin-bottom: 0.5rem;
    }
    .count {
      margin-left: .5rem;
      //font-size: 1rem;
    }
  }
}

