/**
 * Misc modal and unmodal styles. Semantic Overrides at bottom.
 */


// Semantic uses this
.modal {
  //transition: opacity 0.3s;
  background-color: $gModalBG !important;
  border: 1px solid $gModalBorder !important;
  box-shadow: $gShadow !important;
}

.modalShadow {
  box-shadow: $gShadow;
}

// wrangle's nonsemantic modal
.wModal{
  position: fixed;
  z-index: $modalZ;
  top: 20%;
  left: 20%;
  margin: auto;
  text-align: left;
  min-width: 50%;
  background-color: $gModalBG;
  color: $jFG;
  border: 1px solid $gModalBorder;
  border-radius: $cardRadius;
  box-shadow: $gShadow;
  padding: 2rem;
  cursor: pointer;
  .btns {
    float: right;
    margin-top: 1rem;
  }
  &.inverted {
    background-color: $jFG;
    color: $jSideBG;
    border: none;
    box-shadow: $gShadow;
  }
}


.unModal {
  padding: 2rem;
  margin-top: 2rem;
  background: $jHoverlayBG;
  color: $jFG;
  overflow-y: auto;
  border: 1px solid $gModalBorder;
  height: 100%;
  .umContent {
    margin-top: 2rem;
    clear: both;
    height: 90%;
  }
  .close {
    color: $gSecondary;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 4rem;
  }

  .imgBox {
    position: relative;
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    border-radius: 10px;
    background-size: cover;
    .imageTrigger {
      position: absolute;
      top: 37%;
      left: 3rem;
      opacity: 0;
      //transition: opacity 0.3s;
    }
    &:hover {
      .imageTrigger {
        opacity: 1;
      }
    }
  }

  .attms, .existing {
    color: $gSecondary;
    h3 {
      font-size: 1.25rem;
    }
    .valid input {
      border: 2px solid $gBlue !important; // semantic
      border-radius: 5px;
    }
    .invalid input {
      border: 2px solid $gRed !important; // semantic
      border-radius: 5px;
    }
    .error {
      color: $gRed;
    }
    .attm {
      position: relative;
      height: 4rem;
      margin: 0 1rem 1rem 0;
      vertical-align: top;
      .preview { // TODO same/old class def in cardEditor. combine.
        max-width: 4rem;
        max-height: 4rem;
        margin-right: 0.5rem;
        border-radius: 5px;
      }
      i.icon {
        font-size: 2.3rem;
        margin-top: 0.7rem;
        color: $gSecondary;
      }
      .title {
        vertical-align: top;
        margin-left: 0 // .5rem;
      }
      .overlay {
        position: absolute;
        top: 1.3rem;
        left: 3rem;
        color: $gRed;
        opacity: 0;
        //transition: opacity 0.2s ease-out;
      }
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
    .blank {
      display: inline-block;
      padding: 1.2rem;
      width: 48px;
      height: 48px;
      text-align: center;
      margin: 0 1rem 1rem 0;
      border: 1px solid $gBorder;
      border-radius: 5px;
      color: $gBorder;
      font-size: 1.4rem;
      cursor: default;
    }


  }

  .userSettings {
    .form {
      margin-top: 2rem;
      max-width: 25rem;
    }
  }

  .projectSettings {
    .form {
      margin-top: 2rem;
      //max-width: 25rem;
      .row {
        margin-bottom: 2rem;
        label {
          color: $gForeground;
        }
        .checkLikeRadio {
          font-size: 0.95rem; // make semantic labels match style
          margin-left: 0.25rem;
          vertical-align: text-top;
          line-height: 0.8rem;
        }
      }
    }
  }

  .importContent {
    display: flex;
    flex-direction: row;
    .leftHalf {
      flex-basis: 50%;
    }
    .rightHalf {
      flex-basis: 50%;
    }
  }
}

.leftUnModal {
  padding: 1rem;
  overflow-y: auto;
  width: 100%;
  .close {
    color: $gSecondary;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}


.wDropdown {
  border: 1px solid $gBorderSemantic !important; // semantic override;
  box-shadow: 0 0 30px rgba(55,55,55,0.20) !important; // semantic override
  background-color: white;
  padding: 1rem;
  z-index: $modalZ;
  position: absolute;
  .item:hover {
    background-color: $gBackgroundHover;
  }
}

/**
  specific modals (nonsemantic)
 */
.editorModal {
  //top: 157px;
}
.editorTrig {
  right: 2.5rem;
  bottom: 0.5rem;
  color: $gSecondary;
  opacity: 0; // card hover turns it on, see card.scss
}

.import-modal {
  //margin-top: 1rem !important;
  .upload-box, .card-import-box, .web-import-box, .dropbox-import-box, .pinterest-import-box {
    width: 98%;
    height: 90%;
    min-height: 300px;
    color: $gSecondary;
  }
  .tab-description {
    color: $gSecondary;
    font-size: 1.3rem;
    //font-style: italic;
    line-height: 1.7rem;
    margin-bottom: .5rem;
  }
  .center-msg {
    text-align: center;
    margin: 5% auto;
    color: $gSecondary;
    font-size: 1.5rem;
    //font-style: italic;
  }

  // this block to support scrolling with % height (non-px)
  .content:not(.default) {
    height: 100%;
    .tab-aux {
      height: 100%;
      .ui.menu {
        //border: none !important;
        box-shadow: none !important;
        .item {
          color: $gSecondary;
          font-size: .9rem;
          &.active {
            //background-color: white !important;
            border: 1px solid rgba(120,120,120,0.5) !important;
            border-radius: 5px;
          }
        }
      }
      .ui.segment {
        margin: 0 !important;
      }
      .active.tab {
        height: 98% !important; // override semantic
        .tabWrap {
          height: 100%;
          .dimmable {
            height: 100%;
            .scroller {
              height: 90%;
              overflow-y: auto
            }
          }
        }
      }
    }
  }

  // Card Imports
  .card-import-box {
    //height: 100; // TODO can we make it window percentage
    .browse-cards {
      padding: 10px;
      width: 100%;
      min-height: 300px;
      //float: left;
      display: inline-block;
      border: 1px solid $gBorder;
      background-color: $gWorkBackground;
    }
  }
  .sel-card-count {
    display: inline-block;
    margin-top: -15px;
  }

  // Web URL import
  .web-import-box {
    max-height: 60vh; // TODO can we make it window percentage
    .field {
      width: 95%;
      display: inline-block;
    }
    i.icon {
      color: $gThird;
      margin-left: 1rem;
    }

    .browse-page-assets {
      overflow-y: auto;
      width: 100%;
      height: 55vh;
      min-height: 300px;
      float: left;
      border: 1px solid $gBorder;
      background-color: $gWorkBackground;
      padding: 1rem;
      .itemCount {
        color: $gSecondary;
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
  }

  .pinterest-import-box {
    border: 1px solid $gBorder;
    background-color: $gWorkBackground;
  }

  .dropbox-import-box {
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    .currDir {
      margin: 0 0 0.5rem 0;
      padding: 0.3rem 1rem;
      border: 1px solid $gBorder;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      line-height: 2rem;
      &:hover {
        color: $gHighlightColor;
      }
    }
    .browse-files {
      padding: 10px;
      width: 100%;
      min-height: 80%;
      display: inline-block;
      border: 1px solid $gBorder;
      background-color: $gWorkBackground;
      .folder  {
        float: left;
        cursor: pointer;
        color: $gSecondary;
        overflow: hidden;
        margin: 0 1.1rem 1.1rem 0;
        transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
        svg {
          display: inline-block;
          margin-right: 0.5rem;
          margin-bottom: -4px;
        }
        .ctitle {
          display: inline;
          margin-left: 0.5rem;
          font-size: 0.9rem;
          font-weight: normal;
          background-color: rgba(255,255,255,1);
        }
        &:hover {
          color: $gHighlightColor;
        }
      }
      // override some LeCard defaults
      .preview {
        .thinH2 {
          font-size: 0.9rem;
        }
      }
    }

  }

}

/**
  modal semantic overrides osemantic
 */
.modal-trigger-label {
  float: left;
  color: $gForeground;
  margin: 5px 10px 0 0;
  cursor: pointer;
  &:hover {
    color: $gHighlightColor;
    //filter: brightness(1.1);
  }
}

.ui.modal {
  &.large {
    top: 2rem !important;
    min-height: 70% !important;
  }
  &.med {
    top: 10% !important;
  }
  &.small {
    top: 40% !important;
  }
  .scrolling.content {
    height: calc(84vh) !important; // their default is 70. wastes needed screen space
    max-height: calc(84vh) !important; // their default is 70. wastes needed screen space
  }
  margin-top: 1rem !important;
  background-color: $gModalBG !important;
  color: $gForeground !important;
  .header, .content, .actions {
    background-color: $gModalBG !important;
    color: $gForeground !important;
    .ui.button:not(.primary) {
      background-color: $gSecondaryBackground !important;
    }
  }
}

.ui.modal, .ui.scrolling.modal, .modals.dimmer  {
  //width: 100% !important;
  //height: 100% !important;
  //margin: 0 !important;
}
.dimmer {
  background: rgba(0,0,0, 0.7) !important;
}

// modal forms
.form {
  .frow {
    label {
      margin: 1rem 0 .5rem 0;
    }
  }
}