.placeholder {
  background-color: $gPlaceholder;
  display: inline-block;
  color: $gPlaceholder;
  margin-right: 1rem;
}

.placeholderOutline {
  border: 1px solid $gPlaceholder;
  display: inline-block;
  color: $gPlaceholder;
  margin-right: 1rem;
}

.textPH {
  border-radius: 4px;
}

.cmtPH {
  border-radius: 5px;
}

.cardPH {
  border-radius: 10px;
  border: 1px solid $gPlaceholder;
  cursor: pointer;
  background: $cardBG;
  .top {
    height: 70%;
    color: $cardFG;
    text-align: center;
    h1 {
      margin-top: 2rem;
      display: inline-block;
    }
    .icon:hover {
        color: $cardFG;
    }
    svg:hover {
      cursor: pointer;
      stroke: $cardFG;
      rect, circle, line, polyline {
        stroke: $cardFG;
      }
      path {
        stroke: $cardFG; color: $cardFG;
      }
    }
  }
  .bottom {
    height: 30%;
    background-color: $cardBG;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &:hover {
    border: 1px solid $cardBorder;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.25);
    background-color: darken($gPlaceholder, 3%);;
  }
}

.tilePH {
  position: relative;
  border-radius: 15px;
  //border: 1px solid black;
  width: 94%;
  text-align: center;
  transition: box-shadow 0.2s;
  .imgBox {
    width: 100%;
    background-color: transparent;
  }
  h1 {
    position: absolute;
    text-align: center;
    color: white;
    top: 20%;
    left: 2rem;
    display: inline-block;
  }
  &:hover {
    //border: 1px solid $gBorderSemantic;
    //box-shadow: 0 0 20px rgba(50, 50, 50, 0.25);
  }

}