

// common reusable components
.pane {
  //border: 1px solid $gBorder;
  margin: 0;
}

.top-pane {
  padding: 0;
  overflow: hidden;
}
/*
.topLeftPane {
  //padding: .5rem 0 0 .5rem;
  .topLeftNav {
    font-size: 1.1rem;
    cursor: pointer;
    svg {
      margin-bottom: -10px;
      margin-right: 5px;
    }
    span {
      display: inline-block;
    }
    &:hover {
      color: $gHighlightColor;
    }
  }
}
*/



.side-pane {
  padding: 0;
  //background-color: $gBackground;
  color: darken($gForeground, 10%);
  //@extend .subtle-scroll-dark
}

.m-side-pane {
  padding: 0;
  //background-color: $mDarkBackground;
  //color: $mSecondary;
  //@extend .subtle-scroll-dark
}

.sidePaneButton {
  height: 2.2rem;
  color: $gSecondary;
  background-color: $gDarkBackgroundActive;
  //border: 1px solid $gDarkBorder;
  font-size: 0.9rem;
  border-radius: 2px;
  padding: .5rem 1.5rem;

}

.sidePaneTextButton {
  cursor: pointer;
  color: $gDarkForeground;
  background-color: transparent !important;
  border: none !important;
  font-size: 1rem;
  //border-radius: 2px;
  padding: .5rem 1.5rem;
  &:hover {
    color: white;
  }
}

.sidePaneInput, input.sidePaneInput {
  width: 95%;
  margin: .5rem 0.5rem 0 0;
  .icon {
    height: 70%;
  }
  border: 1px solid $gInputBorder;
  border-radius: $inputRadius !important;
  height: 2.2rem;
  background-color: $jInputBGInv;
  color: $jFGinverted;
  &::placeholder {
    color: $jSecinverted !important;
  }
}

.sidebar {
  padding: 0 !important;
  background-color: $mDarkBackground !important;
}

.expanded-pane {

}
.bottom-pane {
  position: fixed;
  bottom: .5rem;
  border-radius: $inputRadius;
  right: 26%;
  //padding-top: 0.25rem;
  color: $gThird;
  @media only screen and (min-width: 768px) {
    height: 2.5rem;
  }
  //background-color: $gWorkBackground;
  //border-top: 1px solid $gBorder;
  box-shadow: 0 -1px 17px rgba(0, 0, 0, 0.35)
  span {
    display: inline-block;
    //padding-top: 7px;
    color: $gThird;
  }
}

.left-col{
  //box-shadow: inset -0.5rem 0.1rem 50px rgba( $gFrameBackground, 0.35);
  padding: 0.5rem 0 0 0;
  transition: width 0.15s;
  overflow-x: hidden;
}

.toolbar-menu {
  padding: 0.5rem 1rem;
  .header {
    font-size: 1rem;
    margin: 12px -5px 0 5px;
    //color: $jFG;
  }
  .item {
    text-align: center;
    color: rgb(224,224,224);
    //margin: 0 !important;
    padding: 0.2rem !important;
    label {
      color: #777;
    }
    /*
    &:hover {
      span {
        color: $gHighlightColor;
      }
      svg {
        @extend svg:hover;
      }
    }
    */
  }
  svg {
    margin-right: 0.75rem;
  }
}

.toolbar-btn {
  border-radius: 3px;
  color: $gSecondary;
  background-color: transparent;
  font-size: .9rem;
  padding: 0.5rem 0.7rem;
  border: none;
  box-shadow: none;
  margin-right: .5rem;
  cursor: pointer;
  transition: background-color .2s;
  .disabled {
    color: $gFourth;
  }
  &:hover {
    background-color: lighten($gBackgroundHover, 10%);
    color: white !important;
  }
}

.toolbar-aux {
  padding: 0.5rem 0 0.15rem 1rem;
  .item {
    padding-bottom: 0 !important;
  }
  .imgIcon {
    width: 20px;
    opacity: 0.7;
  }
}

.toolbar-tags {
  position: relative;
  margin: 0.5rem 0 0.5rem 0;
  min-height: 2rem;
  font-size: 1rem;
  .header {
    color: $gThird;
    min-width: 5rem;
    padding-left: 0;
  }
  input {
    font-size: 1rem;
    padding: .2rem .75rem;
  }
  .reset {
    min-width: 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
  }
  .tagBtn {
    color: $gThird;
    font-size: 0.7rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 0.2rem 0.9rem;
    border-radius: 8px;
    margin-right: 0.2rem;
    height: 24px;
    //max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-out;
    &:hover {
      z-index: 2;
      //filter: brightness(1.1);
    }
    &.underStrip {
      height: 13px;
      width: 100%;
    }
    &.lightOnDark {
      color: white;
    }
    &.darkOnLight {
      color: black;
    }
    &.active {
      //box-shadow: 0 0 20px rgba(50,50,50,0.4);
    }
    &.dragging {
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(55,55,55,0.3);
    }
    &.inactive {
      //filter: opacity(50%) brightness(95%);
    }
  }
}

.tab-aux {
  float: left;
  width: 100%;
  .item {
    //min-width: 10%;
  }
  .active.tab {
    border: none;
    box-shadow: none;
  }
}

.eventTicker {
  color: $gOrange;
  font-size: 0.9rem;

}

.tagTip {
  //background-color: red !important;
  //color: blue !important;

}

/*
.main-pane {
  color: red;
  .thumbLibrary {
    .folder {
      color: $gForeground;
    }
    .thumb {
      color: green;
    }
  }
}
*/

.embedPane {
  &.full {
    width: 98%;
  }
  &.partial {
    width: 91%;
    margin-left: 4rem;
    margin-right: 1rem;
  }
  height: 105%;
  padding: 0;
  background-color: whitesmoke;
  border: 0 !important;
  border-radius: 10px;
  iframe {
    border-radius: 10px;
    border: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.paneCtrls {
  z-index: 3;
  top: .75rem;
  right: 0;
  opacity: 1;
  transition: /*opacity 0.3s, */color 0.3s;
  img {
    width: 22px;
  }
  .max, .min {
    color: $gThird !important;
    font-size: 1.25rem !important;
  }
  &:hover {
    opacity: 1;
    //background-color: $gBackgroundHover;
  }
}

.mini-toolbar {
  .absToolBtn {
    position: absolute;
    bottom: 1.3rem;
  }
}

// framing, where the formerly dark is now light.
.framing {
  //background-color: $gFrameBackground;
  color: $gForeground;
}

.dark, .darkFraming {
  background-color: $jSideBG;
  color: $jFG !important; // override semantic
}

.frameBorderR {
  border-right: 1px solid $gBorder;
}

.mFraming { // m is for mobile
  background-color: $jMidBG ; // override semantic
  color: $jFG ; // override semantic
  //color: $gForeground;
}

.floatingPane {
  position: fixed;
  //float: right;
  //display: inline-block;
  //position: absolute;
  margin-right: 15px;
  padding: 0;
  //border: 1px solid $gFloatPaneBorder;
  border-top-left-radius: $cardRadius;
  border-top-right-radius: $cardRadius;
  box-shadow: $gShadow;
  background-color: $gDiscussBG;
  color: $jFG;
  overflow: hidden;
  //transition: top 0.5s, left 0.5s ease-in-out;
  @extend .z2;
  .hdr {
    background-color: $jSideBG;
    color: $jFG;
    padding: 0.75rem;
    &:hover {
      background-color: lighten($jSideBG, 10%);
    }
  }
}

.dropzone { // anywhere
  border: 5px dashed $gBorder;
  background-color: $gWorkBackground;
}

// direct messages
.dms {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 10%;
  //border: 1px solid red;

}

.lpTabs { // left pane tabs
  margin: 0.5rem auto 0.25rem -1rem;
  //padding-left: 0.5rem;
  div.lpTab {
    width: 100%; //50%;
    border-bottom: 2px solid $jSideBG;
    padding-bottom: .5rem;
    transition: border-bottom-color 0.2s;
  }
}

.thumbSearch {
  margin-bottom: 0.5rem;
}
.thumbLibrary {
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  .secHdr {
    position: relative;
    border-radius: $boxRadius;
    margin-left: .5rem;
    width: calc(100% - 1.4rem);
    cursor: pointer;
    transition: width 0.2s, margin-left 0.2s, background-color 0.2s;
    &.active {
      //width: 100%;
      //border-radius: 0;
      //margin-left: 0;
      /*
      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $jPink;
        color: $jPink;
        width: 4px;
        height: 100%;
      }
      */
    }
    &:hover {
      background-color: lighten($jItemBG, 7%);
    }
  }

  .row {
    cursor: pointer;
    width: 100%;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 5px;
    transition: background-color 0.2s;
    .image {
      width: $leftPaneIconSize;
      height: $leftPaneIconSize;
      margin-right: 1rem;
      background-color: $gBackgroundHover;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 2px;
      //transition: opacity 0.3s;
      &:hover {
        opacity: 0.99;
      }
      &.selected {
        opacity: 1;
        border: 1px solid white;
        box-shadow: inset 0 0 16px 1px rgba(255, 255, 255, 0.5);
      }
    }
    .ctitle {
      vertical-align: top;
      margin-top: calc(#{$leftPaneIconSize} / 3.5);
    }
    &:hover {
      background-color: lighten($jSideBG, 5%);
    }
    &.active {
      background-color: $gActiveBG;
      color: white !important;
      font-weight: 700 !important;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-bottom: 5px;
      padding-left: 10px;
    }
    &.new {
      background-color: lighten($jSideBG, 10%);
    }
  }

}

.dropPane {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $gDropzone;
  opacity: 0.5;
}

.formPane, .formPaneTrns {
  transition: all 0.3s;
  color: $gForeground; // !important;
  padding: .5rem;
  border-radius: $boxRadius;
  border: 1px solid $gBorder;
  width: 90%;
  &.active {
    border-color: $gHighlightColor !important;
    box-shadow: 0 0 10px $gHighlightColor !important;
    background-color: lighten($gInputBG, 10%);
  }
}
.formPane {
  background-color: $gInputBG !important;
}
.formPaneTrns {
  background-color: transparent !important;
}

.commentInput {
  color: $jFGinverted; // !important;
  background-color: #c8c8c8;
  padding: .25rem .5rem;
  line-height: 1.5rem;
  min-height: 2rem;
  border-radius: $boxRadius;
  border: 1px solid $gBorder;
  width: 100%;
}


// sliding left pane
.SLP {
  //transition: all .1s;
  &.closed {
    max-width: 70px !important;
  }
  &.open {
    max-width: 100% !important;;
  }
}

// filling middle pane
.FMP {
  &.expanded {
    width: calc(100% - 70px) !important;
    .projectViews {
      width: 97%;
    }
  }
}
// expanding middle pane
.EMP {
  &.expanded {
    width: calc(100% - 70px) !important;
    .projectViews {
      width: 98%;
    }
    .cardViews {
      width: 95%;
    }
  }
}

.EMPF {
  &.expanded {
    width: calc(100% - 70px) !important;
    .projectViews {
      width: 96%;
    }
  }
}

.paneHdr {
  position: relative;
  z-index: 2;
  padding: .5rem 0;
  transition: background-color 0.2s ease-in-out;
  &.exp {
    //background-color: $jMidBG;
    //border-bottom: 1px solid $jBlue;
    color: $jFG;
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      background-color: $jSideBG; // $jBlue;
      color: $jPink;
      width: 4px;
      height: 100%;
    }
  }
  &.col {
    color: $jSec;
  }
  &:hover {
    background-color: $jMidBG;
    color: $jFG;
  }
}
.paneContent {
  transition: all 0.4s ease-in-out;
  z-index: 1;
  overflow: hidden;
  &.exp {
    //max-height:2500px;
    opacity: 1;
  }
  &.col {
    //position: absolute;
    max-height:1px;
    opacity: 0.4;
  }
}

.hiddenContent {
}


.upload-box {
  border: 5px dashed $jYellow;
  border-radius: $cardRadius;
  text-align: center;
  vertical-align: middle;
  background-color: $jSideBG;
  width: 100%;
  //min-height: 15rem;
  padding: 1.5rem;
  h1, h2 {
    color: $gThird;
  }

  .drag-here {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 10%;
    color: $gSecondary;
  }

  .browse-files {
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    color: $gSecondary;
    .browse-input {
      background-color: $gBlue;
      color: white;
      font-size: 1rem;
      //margin-left: 2rem;
    }
  }
}

.wDatePickerTrigger {
  font-size: 2rem;
  font-weight: bold;
}

.react-datepicker {
  //@extend .cardRadius;

}
.react-datepicker__month-container {
  color: $jFG;
  background-color: $jMidBG;
  border-color: $gBorder;
  //@extend .cardRadius, .jSideBG;
}

.react-datepicker__header {
  color: $jFG;
  background-color: $jMidBG;
  border-color: $gBorder;
}
.react-datepicker__current-month {
  color: $jFG;
  background-color: $jMidBG;
}
.react-datepicker__day-names {
  color: $jFG;
  background-color: $jMidBG;
}

.react-datepicker__month {
  color: $jFG;
  background-color: $jMidBG;
}
.react-datepicker__week {
  color: $jFG;
  background-color: $jMidBG;
}
.react-datepicker__day {
  color: $jFG;
  background-color: $jMidBG;
}
react-datepicker__day--selected {
  @extend .jBlueBG;
}
.react-datepicker__day-name {
  color: $jPink;
}
.react-datepicker__time-container {
  width: 100px !important;
  right: -100px !important;
  color: $jFG;
  background-color: $jMidBG;
}

.react-datepicker-time__header {
  color: $jPink;
}
.react-datepicker__time-box {
  color: $jFG;
  background-color: $jMidBG;
  width: 100px !important;
  margin: unset;
}
.react-datepicker__time-box {
  @extend .subtle-scroll-dark;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 110px;
}