.plTitlePane {

}

.overTitle {
  //font-weight: bold; // would require font 700 dl to work, but affects other headings
  opacity: 0.5;
  font-weight: normal;
}

.projectViews {
  //background-color: $gBackground;
  height: 99%;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 81%;
    height: 95%;
  }
  position: fixed;
  .projectViewsWorkPane {
    padding: 1rem;
    @media only screen and (max-width: 767px) {
      padding: 0 1rem !important;
    }
    //height: 92%;
    overflow: auto;
    //background-color: $gBackground;
    display: flex;
    flex-direction: row;
    .mainCol {
      flex-basis: 100%;
      transition: width 0.2s;
    }
    .rightCol {
      flex-basis: 0;
      transition: width 0.2s;
    }
  }


  // view as grid
  .gridViewOuter {
    margin: 0 1.25rem 1.25rem 0;
    transition: top 0.2s, left 0.2s;
    background-color: $jProjBG;
    border-radius: $cardRadius;
  }
  .gridView {
    // mobile
    @media only screen and (max-width: 767px) {
      @media (orientation:landscape) {
        width: 14rem;
        height: 16rem;
      }
      @media screen and (orientation:portrait) {
        width: 27vw;
        height: 30vw;
      }
    }

    // small tablet
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      @media (orientation:landscape) {
        width: 13rem;
        height: 15.1rem;
      }
      @media screen and (orientation:portrait) {
        width: 20rem;
        height: 23.1rem;
      }
    }

    // large tablet
    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
      @media (orientation:landscape) {
        width: 13rem;
        height: 16rem;
      }
      @media (orientation:portrait) {
        width: 17rem;
        height: 20rem;
      }
    }

    // Desktop
    @media only screen and (min-width: 1367px) {
      width: 14rem;
      height: 18.1rem;
    }

    transition: all 0.2s;// ease-in-out;
    &.dropTarget {
      border: 1px solid rgba(43, 165, 234, 0.9);
      box-shadow: 0 0 20px rgba(50,50,50,0.75);
    }
    &.sortTarget {
      box-shadow: 0 0 20px rgba(50,50,50,0.75);
    }
    &.inactive {
      background-color: $gBackground;
      .coverImage {
        opacity: 0.7;
        //filter: saturate(0.2);
      }
    }
    .coverImage {
      width: 100%;
      height: 80%;
      border-top-left-radius: $cardRadius;
      border-top-right-radius: $cardRadius;
      background-size: cover;
    }
    .activityBadge {
      &:before{
        content:attr(data-activity);
        font-size:.7em;
        float: left;
        background:red;
        color:white;
        width:20px;
        height:20px;
        text-align:center;
        line-height:18px;
        border-radius:50%;
        margin-right: 5px;
      }
    }

    &:hover {
      //background-color: $gBackgroundHover;
      box-shadow: 0 0 25px rgba(50,50,50,0.25);
      h3 {
        //color: $gHighlightColor;
      }
      .coverImage {
        //filter: brightness(1.05);
      }
      .header {
        background-color: $gSecondary; //rgba(255,255,255,0.8);
      }
      .bottom, .dragHandle {
        //background-color: $gWorkBackground; // rgba(50,50,50,.75);
        opacity: 1;
      }

      .projectActivity, .projectStats, .pdesc, .nodesc, .author {
        opacity: 1;
        .memberAvatar {
          //filter: saturate(1);
        }
      }
    }
  }

  // view as list
  .listView {
    font-size: 0.9rem;
    margin-top: 2rem;
    background-color: $jMidBG;
    color: $jFG;
    width: 100%; //border: 1px solid $gBorder;
    cursor: pointer;
    .row.inactive {
      color: $jSec;
    }
    .column, .row {
      padding: 0.3rem;
      button {
        padding: 0.3rem;
      }
      .h4 {
        font-weight: normal;
      }
    }
    .row {
      border-bottom: 1px solid $gBorder;
      cursor: pointer;
      padding: 0.5rem 0.5rem !important;

      .c1 {
        padding: 0;
        input {
          font-size: 2.5rem;
          margin: 0.8rem 0 0 0.5rem;
        }
        .coverImage {
          float: right;
          background-size: cover;
          background-color: $gEmptyImgBack;
          transition: filter 0.3s;
          display: inline-block;
          margin-top: 2px;
          // when no image, placeholder:
          span {
            text-align: center;
            color: $gDarkIconForeground;
            font-size: 0.5rem;
            margin: auto;
            svg {
              width: 2.3rem;
              margin: 5%;
            }
          }
        }
      }

      transition: filter 0.2s, background-color 150ms ease-out;
      &:hover {
        background-color: lighten($jMidBG, 10%);
        .header {
          //color: $gHighlightColor;
        }
        .coverImage {
          //filter: brightness(1.1);
        }
      }
    }
    .hdrRow {
      color: $gSecondary;
      max-height: 2.5rem;
      //border-bottom: none;
      svg {
        margin: -3px -1px 0px -3px;
      }
      .column {
        margin-top: 0.2rem;
        padding-top: 0.2rem;
      }
    }

  }
}


.urgent {
  background-color: $gRed;
  color: white;
  padding: 1rem;
}

.dropdownLabel {
  cursor: pointer;
}
.dropdownArrow {
  font-size: 1.5rem !important;
  vertical-align: top !important;
  margin-top: -2px !important;
  margin-left: 3px !important;
}

.projectTagStrip {
  height: 14px;
  width: 100%;
  padding: 0;
  font-size: 0.7rem;
  color: white;
  line-height:0.9rem;
  margin: 16px 0 0 0;
  border-radius: 2px !important;
  opacity: 0.9;
  //filter: brightness(0.9);
  span {
    text-align: center;
    display: inline-block;
    //border-radius: 2px !important;
    //box-shadow: inset 0 3px 5px rgba(50,50,50,0.25) !important;
    padding-left:1rem;
    padding-right:1rem;
    height: 100%;
  }
}

// event summary popup top right in any view
.eventTotal {
  &.abs {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
  //z-index: 1;
  span {
    border-radius: 1rem;
    color: white;
    padding: 0.2rem 0.75rem 0.2rem 0.4rem;
    margin-left: 0.25rem;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.3)
  }
}

// Categories
.cagHeader {
  //overflow-x: auto;
  padding: 1rem 0 0 0.5rem;
  background-color: $jSideBG;
  border-top-left-radius: $cardRadius;
  border-top-right-radius: $cardRadius;
  .ctab {
    padding: 2px .5rem;
    border-top-left-radius: $cardRadius;
    border-top-right-radius: $cardRadius;
    transition: all .2s;
    border: 2px solid transparent;
    &.approval {
      border: 2px solid rgba(94, 18, 18, 0.76);
      color: white;
    }
    .cagActions {
      opacity: 0;
    }
    &:hover {
      background-color: $jMidBG; //, 20%); // lighten($gToolPaneBackground, 7%);
      .cagActions {
        opacity: 1;
      }
    }
    &.active {
      font-weight: 500;
      background-color: $jMidBG;
      .cagActions {
        opacity: 1;
      }
    }
    &.over { // DnD over
      background-color: $gHighlightColor;
      color: white !important;
      .ctablabel {
        font-weight: bolder;
        color: white !important;
      }
      //padding-right: 1rem;
      //box-shadow: 0 0 30px $gBlue;
    }
    &.sorting {
      opacity: 0.5;
      //background-color: $gHighlightColor;
    }
  }
}
