// project detail page styles
.project {
  margin-top: 0 !important; // override semantic-ui grid
  .titlePane {
    //background: linear-gradient($gWorkBackground, $gBackground);
    //border-bottom: 1px solid $gBorder !important;
    .projectImage {
      display: inline-block;
      background-size: cover;
      background-position: 50% 50%;
      @media only screen and (max-width: 1024px) {
        width: 3rem;
        height: 3rem;
      }
      @media only screen and (min-width: 1025px) {
        width: 4rem;
        height: 4rem;
      }
      border-radius: $cardRadius;
      margin: .5rem 0 -1rem .5rem;
      .imageTrigger {
        width: 100%;
        height: 100%;
        opacity: 0;
        padding: 30% 40%;
        //background-color: rgba(200,200,200,0.15);
        //transition: opacity 0.3s;
        &:hover {
          opacity: 1;
        }
      }
      &.creator:hover {
        cursor: pointer;
        //filter: brightness(1.1);
        border: 1px solid $gSecondary;
      }
    }
  }
  .apPane {
    background-color: #333;
    //border: 1px solid $gBlue;
    //border-radius: $boxRadius;
  }
}

//.infoPopover {
//  //background-color: white;
//  min-width: 50% !important; // semantic
//  padding-left: 2rem !important; // semantic
//  padding-right: 2rem !important; // semantic
//  box-shadow: none !important;
//  margin-top: 7px !important;

  .infoLabel {
    margin-right: 0.5rem;
    text-align: right;
    min-width: 6rem;
    display: inline-block;
    color: $gThird;
  }
  .iconLabel {
    margin-left: 0.5rem;
    vertical-align: top;
    color: $gSecondary;
    line-height:1.8rem;
    cursor: pointer;
  }
//}

.workCol {
  transition: left 0.15s, width 0.15s;
  padding-left: 0 !important;
  padding-right: 0 !important;

}

