/*
// Project summary cards in the Project Summary OK Corral
.projectSummary {
  color: $gForeground;
  border: 1px solid $gBorder;
  background-color: white;
  background-size: contain;
  //background-position: 50% 50%;
  background-clip: border-box;
  overflow: hidden;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.14);
  width: 300px; // config size
  height: 150px;
  margin: 0.5rem;
  float: left;
  cursor: pointer;
  .coverImage {
    height: 150px;
    padding-left: 1.5rem !important;
    margin: 0;
    border-left: 1px solid $gBorder;
    background-color: $gWorkBackground;
    //text-align: center;
    h3 {
      color: white;
      margin-top: 20%;
    }
    p {
      font-size: 1rem;
    }
  }
  .info {
    padding-top: 30%;
    vertical-align: text-bottom;
    h4 {
      text-shadow: none;
    }
    padding: 0.7rem;
  }
  img {
    margin: 0;

  }

  &:hover {
    h1 {
      color: $gHighlightColor
    }
  }
}
*/
