/**
 * Share modal styles
 */
.shareModal {
  .shareImage {
    width: 3rem;
    border-radius: $boxRadius;
    //padding: 1rem;
  }
}

// confirmation modal
.small.modal {
  .copyInput {
    font-size: 1.2rem;
    width: 99%;
    margin: 1rem;
    padding: 1rem;
  }
}
