
.toastBody {
  overflow-y: auto;
  //vertical-align: text-top;
  .member {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: -0.2rem;
    width: 2.4rem;
    border-radius: 6px;
  }
  .msg {
    display: inline-block;
    color: $jSecinverted!important;
    max-width: 70%;
    font-size: 1rem;
    //color: $gForeground;
    .userLink, .projLink {
      color: $jFGinverted!important;; // $gBlue;
      //text-decoration: underline;
      //font-weight: 700;
      &:hover {
        color: $gBlue;
      }
    }
    .date {
      margin-top: 0.3rem;
      //color: $gSecondary;
      font-size: 0.85rem;
    }
  }
  .card {
    float: right;
    border-radius: 6px;
    max-width: 2.4rem;
    max-height: 2.4rem;
    margin-right: 1rem;
  }
}

// Note this is the container for ALL open toasts
.toastOuter {
}

.toastMid {
  border-radius: 10px!important; // override toast defaults in production mode
}

.toastBodyBox {
  //background-color: lighten($gWorkBackground, 10%);
}